[2018-01-06 16:20] loganmc10 commented on #1702
Oh ok, anyway the PJ64 save state worked for me in mupen64plus, it looks normal to me in Linux:

![zelda_majora s_mask-000](https://user-images.githubusercontent.com/848146/34641519-df3f66a4-f2c2-11e7-883d-8b1e0deedec5.png)

[2018-01-06 16:22] fzurita commented on #1702
There seem to be done driver issues causing problems. I'm not sure what is special about the monochrome hack. I don't see any GL errors being generated.

[2018-01-07 02:17] fzurita opened #1703 "Harvest Moon 64 black screen with FBE enabled"
Harvest Moon 64 seems to currently be showing a black screen when frame buffer emulation is enabled.

[2018-01-07 02:26] loganmc10 commented on #1703
I just tested on Linux and it looked fine to me, but this machine doesn't support OGL 4.3/image textures. I think Harvest Moon has N64 Depth Compare on in GLideN64.custom.ini, so my machine won't enable that, perhaps that has something to do with it, some issue with N64 Depth Compare?

[2018-01-07 02:27] fzurita commented on #1703
Yep, that would do it. GLES doesn't work with N64 depth compare, so when it's forced to on, it causes a black screen.

[2018-01-07 02:27] #1703 closed

[2018-01-07 03:40] theboy181 commented on #1515
Still broken in 3.0

[2018-01-07 03:44] gonetz commented on #1702
There is nothing special about the monohrome hack in glsl. It is just a standard dot product. It may not work with GLES 2 though - looks like I forgot to add necessary code to GL ES 2 texture read shader.

[2018-01-07 04:54] AmbientMalice commented on #1515
Capturing works in OBS for me, but when playing a game like Perfect Dark in high resolution mode, there's a thin strip at the bottom of the recording that is lagging/corrupted.

[2018-01-07 08:31] gonetz commented on #1515
Capturing mostly works, but there are moments when it works incorrect and I don't know why. For example, it does not work properly when game has aspect 4:3 and I'm trying to capture it in fullscreen.

[2018-01-07 08:38] gonetz commented on #1702
It can be a problem with colorNoiseDither or alphaNoiseDither.
@fzurita could you run this scene with noise disabled?

[2018-01-07 08:50] gonetz commented on #936
Reopen since the fix is reverted.

[2018-01-07 12:05] fzurita commented on #1702
I did already try that and it didn't help.

[2018-01-07 12:22] fzurita commented on #1702
Here is what it looks like in Android. Maybe it's some kind of depth issue:

![zelda_majora s_mask-000](https://user-images.githubusercontent.com/11581687/34649354-8b979076-f37b-11e7-85aa-27040304322d.png)

[2018-01-07 13:20] gonetz commented on #1702
Depth issue? Hardly. As I remember, this scene works as this:

Render 3D objects, copy result to an auxiliary buffer. Render text
Render 3D objects, blend with aux buffer, copy result to an auxiliary buffer. Render text.
Render 3D objects, blend with aux buffer, copy result to an auxiliary buffer. Render text.
...

Copy to aux buffer is necessary to have motion blur for 3D objects only, not for te

[2018-01-07 13:26] fzurita commented on #1702
Gotcha, as far as I know, 32 bit RGBA is being used.

Thanks for laying it out, that's a good hint to help investigate the issue.

[2018-01-07 19:55] olivieryuyu commented on #663
I checked the ucode.

Significant amount of data are dealt by the RSP through quite a complex code and seems to be send back to some addresses in RDRAM.

I guess thoses addresses are a framebuffer where GlideN64 could read information.

This explains why CFB basic plugin can display the graphic as the data are most likely in basic output format.

This explains as well why GlideN64 crashes in HLE:

[2018-01-08 12:59] remyabel commented on #1613
Any chance of using Travis CI for Linux (and other systems)? I can submit a PR for a `.travis.yml` if you decide to pursue it.

[2018-01-08 13:32] gonetz commented on #1613
I added project to CircleCI for Linux and Mac builds, but still can't find time to properly setup build here.

[2018-01-08 17:30] loganmc10 opened #1705 "Flickering has returned in Gauntlet Legends"
As noted here:

https://github.com/gonetz/GLideN64/pull/1623#issuecomment-355864674

Flickering has returned in Gauntlet Legends. However it's not the whole screen going black, just certain elements.

I bisected the issue to this commit: https://github.com/gonetz/GLideN64/commit/732c27a07d285b6de6b2ed8ff6ea56e34b778cfb

[2018-01-09 01:05] Nerrel commented on #1702
I should add that I'm experiencing this issue on Windows 10 x64 using Nvidia (GTX970).

[2018-01-09 04:16] gonetz commented on #1702
It should work perfectly fine with this configuration. Could you look for GLideN64.log file in Plugin folder? It may contain error messages.

[2018-01-09 04:54] fzurita commented on #1702
@gonetz I seem to be stuck, in Android, the blending does not seem to be working well. The old image seems to be retained forever.

I can see that ```FrameBuffer::getTexture``` is getting called. Is this where we are grabbing the texture to blend? Where is the blending actually happening?

[2018-01-09 05:22] Nerrel commented on #1702
I have these errors repeating over and over in the log (506 is the most common):
OpenGL Error: invalid value (501)
Stream error while loading shader cache! Buffer is probably not big enough
OpenGL Error: out of memory (505)
OpenGL Error: 506
OpenGL Error: invalid operation (502)

I tried clearing the log then restarting pj64 and reloading the savestate to see if I could limit the errors to just th

[2018-01-09 05:50] loganmc10 commented on #1702
Maybe this scene is somehow using a large amount of video memory? Android devices typically have low memory compared to desktops, could be one explanation, although I'm not sure about @Nerrel's PC, or if there is a tool to monitor GPU memory usage in Windows

[2018-01-09 06:12] gonetz commented on #1702
No, it should not. It uses one additional full screen buffer. It is not a problem for PC GPUs.

@fzurita Could you try to disable the monochrome hack for this game in code and run again?

[2018-01-09 12:41] fzurita commented on #1702
Here is what it looks like with the back disabled:

![zelda_majora s_mask-000](https://user-images.githubusercontent.com/11581687/34721379-7d84cd28-f510-11e7-90f8-c3907404ede1.png)

Either way, I can't get the 3d geometry to ever show up.

[2018-01-09 13:21] fzurita commented on #1702
Also, it shows up correctly in my PC. I have a GTX 980.

[2018-01-09 13:28] fzurita commented on #1702
From what can tell, it seems to me that the auxiliary buffer is never getting any geometry rendered into it.

[2018-01-09 15:26] gonetz commented on #1702
Auxiliary buffer is just a copy of main buffer. If that copy never happen, need to find why. I have no idea. Similar code used in intro with spinning mask.

[2018-01-11 14:24] Gillou68310 commented on #1685
Progress report:
-Stunt racer allow the combined matrix to be stored to RDRAM. This is now implemented.
-Fixed ```ZSortBOSS_MultMPMTX``` command including clipping code, fog and sx/sy computation.
-In ```ZSortBOSS_DrawObject```, vertex could arrive without ```1/w``` information. The field contains rgba information instead. ```w``` is forced to 1 in this case. ```w``` is also forced to 1 when ```1/

[2018-01-11 14:43] olivieryuyu commented on #1685
great!!! thanks!!

[2018-01-11 16:20] Gillou68310 commented on #1685
Arf I found another graphical distortions in stunt. It's a matrix issue.

[2018-01-12 10:28] Gillou68310 commented on #1685
Issue fixed! https://github.com/Gillou68310/GLideN64/commit/7746bc04853eca1756c235c5ceead3ec20bdf1c7

[2018-01-13 05:11] fzurita commented on #1702
@gonetz At this point, I think there is something wrong with the blending of FBOs. Only one of the buffers is shown, which I think is the one where monochrome effect is being rendered. The one with the monochrome effect is supposed to be fully transparent?

Am I completely mis-understanding how the effect works?

[2018-01-14 09:09] gonetz commented on #1685
Wow! Now WDC looks really cool!
I see only one issue ingame: reflection textures mapped wrong.
Stunt Racer looks good too.
Great work!
I need to fix the flickering line in WDC intro, and it will be nearly perfect.

[2018-01-14 09:51] Gillou68310 commented on #1685
Yeah I noticed reflection textures are still not perfect. I will investigate ;-)

[2018-01-15 09:39] Gillou68310 commented on #1685
Hum @gonetz I double checked but I could not reproduce the reflection textures issue. Could you provide a savestate?
Please apply this patch first https://github.com/Gillou68310/mupen64plus-core/commit/d9129e10c69a0111fde0fb536aaf65f3ad01c624, otherwise you could end up with unusable savestate.

[2018-01-18 14:13] gonetz commented on #1685
No need for savestate, the problem is seen on any race.
Quick start => select car => RAGE 512 EVO
Even on this screen the problem is visible.
You may start arcade race to see this car from behind - the problem is obvious.

[2018-01-18 14:19] steeeb commented on #1682
This seems on par than it was months ago. So closing the ticket.

[2018-01-18 14:20] #1682 closed

[2018-01-18 14:27] steeeb opened #1706 "Donkey Kong 64 - Crazy slow-mo glitches"
Hi Everybody.

When playing Donkey Kong 64 - it is fine during the training, but play past the cave with the Crocodile in it, and when you collect the first Bannana and enter the cave to start the first level there is a bird with a banana count that you need to speak to and it checks the number of bananas you have.

When the bird is on-screen the game runs in super slow motion and is extremely gli

[2018-01-21 17:07] Gillou68310 commented on #1685
Well looks like I was too accurate :-) The problem is indeed obvious but I have the same exact behavior with rsp-z64 (this is what I use to dump and debug ucodes). rsp-cxd4 doesn't have this issue, it will be a good starting point to investigate the issue.

[2018-01-21 18:13] theboy181 opened #1707 "Destruction Derby 64 (U) Multi Player View Port issues"
![image](https://user-images.githubusercontent.com/9299743/35197403-b7e4786a-fe93-11e7-9752-171d1e19bea9.png)

[2018-01-21 18:44] Lithium64 opened #1708 "GlideN64 very slow on Ubuntu"
I'm running the latest linux build of m64p (ubuntu build don't works correctly here) on Ubuntu 17.10 and GlideN64 is very slow, on windows with this same PC it have a highly superior performance. Even using the angrylion-plus plugin on ubuntu it have a much higher performance.

My specifications are

i3 4150 3.50ghz
12 GB RAM
Radeon R7 260X 2GB VRAM
Ubuntu 17.10
Kernel 4.14.13
Mesa 17.3.2

[2018-01-22 02:47] theboy181 opened #1709 "Indy Racing 2000 (U) Speedometer broken"
Should look like this
![image](https://user-images.githubusercontent.com/9299743/35203124-76b3c33a-fedb-11e7-8cf2-acecf3e694d2.png)

[2018-01-23 17:09] Gillou68310 commented on #1685
Ok I see what is happening. Here's the offending code:
```04001564 sdv     v4[12], -$0008(r27)```

This instruction should store 8 bytes starting at v4[12] to DMEM.
Or rsp-z64 stops at the vector boundary (v4[15]), so only 4 bytes are actually stored to DMEM.
rsp-cxd4 uses the VR_STATIC_WRAPAROUND hack in order to fix this issue.

This should fix the issue:
https://github.com/Gillou68310/GLideN64/

[2018-01-23 22:51] Nerrel commented on #1702
I decided to try the scene using Mupen64plus (I've been using the newest Project64) and it seems to work just fine there:
https://c1.staticflickr.com/5/4700/28083596059_72728f58fe_o.jpg

I don't know if that means that the problem is specific to PJ64 itself, or if it could be an issue with the zilmar-specs version of GlideN64; the fact that the scene also has problems on Android would suggest that

[2018-01-24 09:39] Jj0YzL5nvJ commented on #1561
Lets summarize the few workarounds that can be made to get GLideN64 working on r600/radeonsi Mesa drivers. From better to worse...

Stick to dddb3ae1f71afa85ef782d5f5edb9661a1b1b5bd, the last "fixable version" if you launch the emulator with: `MESA_GL_VERSION_OVERRIDE=3.3COMPAT MESA_EXTENSION_OVERRIDE="-GL_ARB_buffer_storage"`
Stick to bc00985f33c8b1e2e63cebabe53d01f9cf3708a6 and launch using: `ME

[2018-01-24 09:42] Jj0YzL5nvJ commented on #1708
Welcome to the club #1561

[2018-01-24 19:29] fzurita commented on #1561
Can you try one more thing? In here: https://github.com/gonetz/GLideN64/blob/master/src/Graphics/OpenGLContext/opengl_GLInfo.cpp#L61-L62

Replace:

[code]

with

[code]

[2018-01-25 10:24] Jj0YzL5nvJ commented on #1561
@fzurita
Eureka! That do the trick!
I need to use `MESA_GL_VERSION_OVERRIDE=3.3COMPAT`, but that doesn't matter.
Now we have a real workaround.

Thanks so much, really ^^

[2018-01-25 12:02] BPaden commented on #1561
Note for on a slightly newer GCN card, this helps for me but is only a partial fix.

For the Ocarina of Time intro, when link first appears riding on Epona, without the patch performance drops from ~50fps to about 15. It's pretty consistently within 1 FPS of 15 in this case.

With the patch, performance drops from ~60 FPS to somewhere between 20-40. It's less consistent here, and there are places

[2018-01-25 12:23] fzurita commented on #1561
It seems that mesa driver has poor support for some features. Even after disabling buffer storage and VBOs, there is still something it doesn't like.

[2018-01-25 13:26] BPaden commented on #1561
GLideN64 is definitely hitting a slow path in mesa that doesn't exist in the Windows drivers, where the plugin works fine. At the same time, I think GLideN64 must be doing something unusual (not unexpected for an emulator) because I'm not seeing these symptoms in any other GL application.

[2018-01-25 13:35] loganmc10 commented on #1561
The unusual thing GLideN64 does with VBO's is called Buffer Object Streaming (https://www.khronos.org/opengl/wiki/Buffer_Object_Streaming)

It works well on my Intel Mesa laptop, but I don't have any AMD devices to test.

Mesa only officially supports the core profile, and the core profile requires the use of VBO's, which is why this is needed

[2018-01-26 15:52] Jj0YzL5nvJ commented on #1561
I've been quick testing some games. Until now I spotted three lag points, one in Bomberman 64 and two in GoldenEye 007.
 I'm gonna `bisect` and apply "the patch" to discern the other "bad commit". That when leave my work, of course.

[2018-01-26 20:10] StenApp commented on #1259
How about to post a reddit entry?
I'm to new there so my post got deleted.

[2018-01-27 03:45] Lithium64 commented on #1708
@Jj0YzL5nvJ Thanks, it's the same issue.

[2018-01-27 03:45] #1708 closed

[2018-01-27 03:50] Lithium64 commented on #1561
I'm experiencing the same issue here, I'm running latest m64p linux build (ubuntu build don't works correctly here).

My specifications/settings are

i3 4150 3.50ghz
12 GB RAM
Radeon R7 260X 2GB VRAM
Ubuntu 17.10
Kernel 4.14.13
Mesa 17.3.2

[2018-01-27 07:37] theboy181 opened #1710 "Mario Golf (U) bug in GLideN64 3.0 regresion"
![image](https://user-images.githubusercontent.com/9299743/35469790-bb98dd40-02f1-11e8-828f-338b0af5736c.png)
The items in the select screen get pushed and squished on the left side of the screen. dosnt happen on earlier versions.

[2018-01-27 11:21] olivieryuyu commented on #1710
confirmed

[2018-01-27 14:23] olivieryuyu commented on #1709
and how it looks like now?

[2018-01-27 19:21] theboy181 commented on #1709
Its one ROM away from Indiana Jones. ;)

![image](https://user-images.githubusercontent.com/9299743/35475491-3fa6eca0-0354-11e8-906b-41f083dc7eb1.png)

[2018-01-29 18:25] Tenolius opened #1711 "Banjo Tooie crashes when using hirestextures"
Hi. I am having this issue using the latest public GlideN64 3.0 release. The textures are loaded correctly right before the game starts, but the game crashes after the first 5-10 seconds (as soon as the Rareware logo appears), displaying the following screen:
![project64_issue01](https://user-images.githubusercontent.com/12527930/35526858-b2f80fa6-04dd-11e8-99ae-1ff38134eefb.png)
This is what the

[2018-01-29 22:05] olivieryuyu opened #1712 "Spiderman: fog applied wrongly when transparency should be used"
At the very beginning of the first level, simply jump on the crate and then leave them close to their border

here with Angrylion

![image](https://user-images.githubusercontent.com/8987490/35536929-b69c5c3c-0548-11e8-8118-46a3b79f9250.png)

here with gliden64

![image](https://user-images.githubusercontent.com/8987490/35536961-d1f18be2-0548-11e8-9129-2e78537d6402.png)

It seems to be a RDP bug.

[2018-01-30 16:30] Tenolius commented on #1711
As a side note. The gliden64.log file saved the following log last time it crashed: "Stream error while loading shader cache! Buffer is probably not big enough"

[2018-02-01 19:11] olivieryuyu commented on #1259
I have no reddit.

The campaing does not seem to be successful, that is a bit unfortunate...

It is a hard work to do the reverse engineering and the microcode of Factor 5 are really huge and complex compared to the others.

For instance Indiana Jones/Battle of Naboo is double the size of F3DEX2, which was the biggest Nintendo microcode.

[2018-02-01 19:38] oddMLan commented on #1259
@StenApp

It probably got deleted because there's already one for the campaign: https://www.reddit.com/r/emulation/comments/7ogzuc/gliden64_indiana_jones_and_the_infernal_machine/?utm_source=amp&utm_medium=comment_header

[2018-02-02 01:03] theboy181 commented on #190
issue still remains on 3.0

[2018-02-02 05:56] retrobenny opened #1713 "Public release 3.0 bad resolution jumping."
On PJ64 2.4.0-455 it keeps changing resolution at random constantly and it causes a multitude of problems such as black screen flickers and jumpy rendering when not blacked out.

Beetle Adventure Racing is a good example of this,I noticed it in a few other games but forget which.
Kinda hard to get it in picture form due to the type of bug it is.
It may be caused by setting the resolution when a ga

[2018-02-02 12:13] rez- commented on #1712
bad commit: 3c61198

[2018-02-02 12:19] rez- commented on #1710
I cannot reproduce, latest version (486e041) and public release 3.0 are working fine for me.

![mariogolf64-000](https://user-images.githubusercontent.com/10398036/35732932-b4cbe1d6-081b-11e8-85a0-50d409ce6432.png)

[2018-02-02 12:29] rez- commented on #1709
No problems here with latest version (486e041)

![indy_racing_2000-000](https://user-images.githubusercontent.com/10398036/35733270-0aea4de0-081d-11e8-946e-b33a0dc74c70.png)

[2018-02-02 15:58] theboy181 commented on #1709
Hmm. I wonder if it’s a setting I have enabled in the ini. Do you have a recent build available for me to test

[2018-02-02 21:05] StenApp commented on #1259
@oddMLan  I think it was my first post on reddit, I would have needed to post or comment things before.

@olivieryuyu I'm not sure why so less people support your decoding, It's sad because Factor5 games are the last games to get native. I'd like to see in the end of decoding how you did that in form of technical blog or documentation. None the less: respect for your work.

[2018-02-03 07:02] weinerschnitzel commented on #1259
I am sure there are others that will donate more before the campaign is over. And the campaign is very modest, it will be filled.

Although, yes, i do think this should drive more attention.

[2018-02-03 11:31] tony971 commented on #1259
It might be useful to make sure that people realize that the dev is not Gonetz, who has a running patreon for GLideN64.

[2018-02-03 13:53] olivieryuyu commented on #1259
It is a campaing of both Sergey and me.

After Indy, there is still many things in HLE to do:

Batte of Naboo specific commands
HVQ microcode
Fog issue in Zelda OOT
S2DEX issues in various games
Dark Rift issues

Of course this campain would be the last one for supporting reverse engineering in GlideN64. But seeing the little attention it brings, it is a bit demotivating :(

[2018-02-03 15:02] weinerschnitzel commented on #1259
@olivieryuyu what is your input for the 64DD games? Certainly those will need some work, too. Campaign is funded so get it done please. No more mulling! :)

[2018-02-03 16:08] StenApp commented on #1259
mhhh one spend anonymously the rest to fill the 600 Dollar, it's the second time one did.

[2018-02-03 16:43] StenApp commented on #1685
@Gillou68310
Just curious what the status is...

[2018-02-03 17:38] Gillou68310 commented on #1685
All graphic commands are implemented, I still need to implement audio commands. They don't look very complex, I just need to find time to work on it.

[2018-02-04 09:09] olivieryuyu commented on #1259
@weinerschnitzel. Thanks. 64DD uses standard ucodes, I already checked out.

@StenApp : at the end of my HLE adventures (many months), I will do a small introduction on how I do the reverse engineering. Yet the first step is to understand MIPS (https://chortle.ccsu.edu/AssemblyTutorial/index.html)

[2018-02-04 11:02] StenApp commented on #1259
@olivieryuyu
When I look at my dumps of Indy and BFN I see what you mean with double the size as SDEX2 code.
One started with `0x000	J	0x064` and one with ` 0x000	ORI	V1, R0, 0x0000`.

[2018-02-04 11:17] olivieryuyu commented on #1259
Your dumps are only partial ones, they do not cover the entire ucode. It is due to the usage of overlays as the code does not fit entirely in the IMEM. I will explain this in the introduction when my adventures are over.

[2018-02-04 14:37] gonetz commented on #1685
WDC looks nearly perfect in-game. This is really cool!
The performance is not that good. I have freezes for a moment each one-two seconds.
May be it is core issue.

[2018-02-04 17:24] olivieryuyu commented on #1259
Small remarks: one of the command uses a specific COP0 register to simulate a random value for the particule systems.

No RSP emulates this, so LLE implementation does not behave exactly as it should.

In HLE it is possible to circumvent this issue and therefore being more close to result on a real N64.

So for once HLE is better than LLE :)

[2018-02-04 18:02] theboy181 commented on #1259
I’m simply amazed at how much knowledge and abilities you have gained in only a couple of years. Appreciate your hard work @olivieryuyu

[2018-02-04 18:30] Gillou68310 commented on #1685
@gonetz with or without the log warning commented out?

Is it reproducible or is it randomly happenning?

[2018-02-05 19:04] loganmc10 commented on #1685
It's probably the log warnings. I just tested this on Windows + mupen64plus. My CPU was about 13-15% (4 core, so 25% would be maxed out).

Seemed to perform really well and looked good, didn't freeze for me.

[2018-02-05 21:10] Gillou68310 commented on #1685
Nice thanks for testing :-)
It works well on windows for me too. However I tested on my galaxy note3 and the performance was not good there, plus textures were all messed up, not sure what the issue is.

[2018-02-05 21:52] fzurita commented on #1685
My best guess on the bad textures is probably driver issues.

[2018-02-06 08:14] Gillou68310 commented on #1685
I tested on my odroid c2 and I have the same texture problem, maybe it's a gles2 specific issue. Anyway the game was running fullspeed on my odroid c2 so I don't think performance is an issue here.

[2018-02-08 22:34] olivieryuyu commented on #1685
Seriously why the Zsort ucode was not used more games. It is obvious that it palliates the fillrate issue of the N64 and allows way better graphics in consequence.

Just compare Mia Soccer with FIFA98 on a real N64: the difference is so obvious, it is shocking!

[2018-02-08 22:40] AmbientMalice commented on #1685
Was released too late in the system's life, I think. And was also a bit obtuse.

Feb 1999.

Q4 What is the current status of the Z Sort microcode?

A4 Its release has been announced. It is now a matter of distributing the Z Sort microcode, but the Z Sort microcode libraries have not yet been completed. Consequently, the microcode still hasn't been officially released.

There is no official release

[2018-02-09 03:39] pdrome opened #1715 "Perfect Dark (Missing Transition Animation at end of Title Intro Screen - PD Logo Doesn't Disappear)"
There is a pause loading the title screen with perfect dark of about 8 seconds (when booting the game after the n64 logo turns into the perfect dark logo, you can also skip to this part by pressing start a few times once the rare logo shows up).  I'm using the February 5th 2018 release of m64p. It occurs using both cxd4 and rsp-hle, and dynarec, cached interpreter, and pure interpreter.

Works fin

[2018-02-09 13:41] Gillou68310 commented on #1685
I finally implemented the audio commands!
Since I'm not familiar with audio processing I can't really put a name on those commands.
Anyway at least we have audio now!

[2018-02-09 14:51] fzurita commented on #1685
That's pretty amazing work.

[2018-02-09 15:48] loganmc10 commented on #1685
@Gillou68310 looks and sounds great! Definitely ready to be merged as far as I can tell (well you have a tiny merge conflict in the wdc branch). Great work! The CPU usage is relatively low on my PC, so I assume that a device with GL support like the Shield would be able to run the game really well. It sounds like there might be some GLES issues but that is unrelated to the ucode.

[2018-02-09 15:57] Gillou68310 commented on #1685
@fzurita, @loganmc10 thanks for the feedback!

Game is running fullspeed on my odroid c2, it should definitely run fullspeed on a Shield too.

[2018-02-09 15:59] fzurita commented on #1685
I have yet to try it. But I'll give this a shot to see how it goes. I can probably debug the GLES issues if I get sone glErrors.

[2018-02-09 18:50] olivieryuyu commented on #1685
amazing! great work! :)

[2018-02-09 23:40] fzurita commented on #1685
Well, I can say it works on Android with GLES, but there are a lot of texture glitches and the game runs sluggish. Also, sound seems to skip a lot. Also, there may be same near plane issues.

[2018-02-09 23:44] fzurita commented on #1685
Also, loading save states seem to lock up the game.

[2018-02-10 00:32] fzurita commented on #1685
Full GL mode doesn't look much better on the Shield TV.

[2018-02-10 06:37] loganmc10 commented on #1685
Could the arm dynarec be screwing something up? Did you guys try the interpreter? I'm surprised it doesn't work on the Shield

[2018-02-10 07:03] Gillou68310 commented on #1685
Savestate should not happen while rsp task is locked:

Looks like it is, interpreter has no texture glitches!

[2018-02-10 11:11] gonetz commented on #1685
Amazing work, Gilles!

Yes, it can be merged with master. Things to do:
- Put ZSortBOSS sources to proper place in Visual Studio project: Header files/uCodes for ZSortBOSS.h
  Source files/uCodes for ZSortBOSS.cpp
- rebase to current master, fix conflicts
- Squash all commits to one commit
- Make PR :)

[2018-02-10 11:14] gonetz commented on #1685
Note: I see several "ZSortBOSS_Audio4: Index out of bound" messages in gliden64.log

[2018-02-10 17:44] Yui12 commented on #1715
Wasn't there always a pause in the emulation of this game in general? Glide64 even had this problem of it being black screen pauses between the intro, and before a level boots up.

[2018-02-11 03:40] pdrome commented on #1715
That's a good point and something I hadn't considered earlier.  I looked into it a bit more.

So with gliden64, the logo just stays there during a pause of about 8 seconds.  Then either the load screen or a cut scene from the first level plays (immediately following the pause) depending on whether or not you press start during this time.

With angrylion or glide64, the logo gets washed away by an

[2018-02-11 04:35] loganmc10 commented on #1715
Related :  https://github.com/ata4/angrylion-rdp-plus/issues/49

[2018-02-11 16:26] fzurita commented on #1685
So this turns out to run a lot faster if you disable the LLE checks in rsp-hle. Whoops, I wasn't even testing the HLE portion. After fixing that, speed is excellent. Texture issues remain though. Unfortunately, speed using interpreter with HLE is as slow as dynarec with LLE.

[2018-02-11 19:37] Gillou68310 commented on #1685
I will take care of this tomorrow ;-)

Yes this is happening on LLE too. It's either a core issue or a bug that is also present on real hardware.

Lol I just realized that I did the same mistake, that's why performance was not good on android :-D
I'll see what I can do about the new dynarec issue. At least it's not happening on x86 new dynarec, this should help debugging the issue.

[2018-02-11 23:50] Exequiel3k commented on #1173
Just a little heads up, I recently updated the build and noticed the quick fix isn’t working anymore. I can no longer play 4 split screen since it’s either flashing and/or only the sky is visible on the bottom screens. Just thought I’d let you’ll know..

[2018-02-12 01:29] LuismaSP89 commented on #1173
@gonetz Is not in this thread/post, let´s hope he see and solve this problem.

[2018-02-12 02:19] thecoreyburton opened #1716 "Missing Ground Textures in Super Smash Bros."
On certain stages in Super Smash Bros. textures are not displayed. The easiest way to replicate this problem is to start the game, go into "1P Mode", then "Bonus 2 Practice". Select Pikachu and hit go. Alternatively, here's a [savestate](https://github.com/gonetz/GLideN64/files/1715151/btp.zip).

![Comparison](https://user-images.githubusercontent.com/12134368/36081744-186a9d30-0ff7-11e8-8175-a9d0

[2018-02-12 11:34] Gillou68310 commented on #1685
Done https://github.com/gonetz/GLideN64/pull/1717

[2018-02-12 13:00] fzurita commented on #1685
I wonder if the new dynarec issues in this game are related to the new dynarec issues in multi racing championship. It's also texture issues when new dynarec is enabled:

https://github.com/mupen64plus/mupen64plus-core/issues/433

[2018-02-12 14:28] gonetz commented on #1574
Current master:

https://drive.google.com/file/d/11j3_Uc9sg7sYbSfjqqKSZD7OZJrREfgu/view?usp=sharing

WDC!

[2018-02-12 14:28] gonetz commented on #1709
https://drive.google.com/file/d/11j3_Uc9sg7sYbSfjqqKSZD7OZJrREfgu/view?usp=sharing

[2018-02-12 16:12] thsys opened #1719 "GLideN64 does not work with Linux. "undefined symbol: _Z9Calc_invwi""
Mupen64Plus would not work with the latest version of GLideN64 on Linux and exits with following command line output (It does not matter if I build it with or without `-DUSE_SYSTEM_LIBS`):

Command used:
[code]

Output:
[code]

System Information:

- CPU: Intel Core i5 6200U @ 2.30 GHz
- GPU: Intel HD Graphics
- Memory: 6GB
- OS: Ubuntu 17.10 with Linux 4.13.0-32-generic

[2018-02-12 16:13] loganmc10 commented on #1719
This PR should fix this: https://github.com/gonetz/GLideN64/pull/1718

[2018-02-12 16:26] thsys commented on #1719
How do I apply a pull request?

[2018-02-12 16:28] loganmc10 commented on #1719
If you add ".patch" to a PR link it'll turn it into a patch, so for instance, download this:

https://github.com/gonetz/GLideN64/pull/1718.patch

Then if you ```cd``` into your GLideN64 directory you can apply the patch like this:

```patch -p1 < /path/to/1718.patch```

Alternatively, you can clone the PR source, which is:

https://github.com/loganmc10/GLideN64.git

and the branch to checkout is `

[2018-02-12 23:25] Tasosgemah commented on #1574
What are the WDC specific fixes? I didn't notice any difference with this version.

[2018-02-12 23:34] loganmc10 commented on #1574
WDC and Stunt Racer now work in HLE, but only in mupen64plus

Once https://github.com/gonetz/GLideN64/pull/1718 I'll update https://m64p.github.io and then those 2 games will run in HLE by default

[2018-02-13 06:31] Tasosgemah commented on #1574
Ah nice. And what will be the differences between HLE and LLE in terms of emulation/graphics? As it is now (LLE) it's pretty good but there are a few bugs (some white lines on the UI display and missing lens flares). Is HLE the same/worse/better?

[2018-02-13 10:12] Gillou68310 commented on #1719
I think this can be closed

[2018-02-13 10:13] #1685 closed

[2018-02-13 13:01] loganmc10 commented on #1574
The UI elements are the same, those bugs are still there in HLE

[2018-02-13 16:17] pschiume commented on #1038
Have anyone succeed with the 320x240 hack?  I still can't display the game correctly.

I'm using MUPEN64PLUS emulator with GLIDEN62 as core.

I'm editing the conf file localted in /recalbox/share/system/configs/mupen64/mupen64plus.cfg with:
EnableFBEmulation=True
UseNativeResolutionFactor=1

When I restart recalbox, the EnableFBEmulation return to False.

Thanks in advance for your help

[2018-02-14 09:06] #1719 closed

[2018-02-14 16:45] Gillou68310 commented on #1685
@fzurita Looks like the DMULT/DMULTU recompiled code is broken on arm. Texture issues are fixed by switching to interpreted opcode https://github.com/Gillou68310/mupen64plus-core/commit/d019477b718f4e3a0fa3c435ab7d795a7985fa5f
I still need to understand what is wrong with the recompiled code.

[2018-02-14 16:52] fzurita commented on #1685
Ok, that's good to know. You are really good at finding dynarec issues.

[2018-02-14 16:53] Gillou68310 commented on #1685
Trust me it takes a lot of time and patience ;-)

[2018-02-16 02:00] AmbientMalice commented on #466
Game works fantastically now in HLE, but the HUD lines are still present.

[2018-02-16 21:42] Parthros commented on #1696
I downloaded the 3.0 public release and I'm having basically the same issue, where it won't save any video settings, including texture enhancement settings.

Other info:
Project64 2.3.2.202
Windows 10 Pro 64-bit

[2018-02-17 06:19] theboy181 opened #1721 "World Cup 98 (U) (M8) GFX issue"
Please see attached save.

This game will have intense geometry issues randomly. It will be fine when you are windowed mode, but be messed up when you change to full screen. No issues with angrylion plugin.
[World Cup 98 (U) (M8).pj.zip](https://github.com/gonetz/GLideN64/files/1733466/World.Cup.98.U.M8.pj.zip)

Note: Save has 2 cheats I'm working on. Level of Detail Player model hack, and 60fps r

[2018-02-17 08:37] gonetz commented on #1696
Hello,

IIRC, Project64 default install folder is Program Files. Users do not have rights to write there.
GLideN64 stores settings in %Project64 folder%\Plugin\GFX\GLideN64.ini
You probably have no right to update the ini there.

Possible solutions:
- Install Project 64 to another folder, for example C:\Games\Project64
- or run Project64 as Administrator - right click on Project64 icon, select run

[2018-02-17 11:19] truskj commented on #1173
I play a lot of GoldenEyeX, a mod for perfect dark, it suffers from the same problem.
but I found that having the screen split set to vertical instead of horizontal, this will remedy the problem.
even if you are playing in four player mode, the setting still makes a difference.
People playing GE are out of luck, but I imagine the same thing will work in Perfect Dark.

[2018-02-18 00:07] Blue-Ike commented on #1609
I play GoldenEye X too. I know what you're talking about but that option only works for two player split screen. If players want to play horizontal or play 3 & 4 player games than this issue continues to occur. GoldenEye has the same issue. Hoping this issue can be resolved for the next public release.

[2018-02-18 01:12] retrobenny opened #1722 "Banjo-Tooie freezes at title screen sequence on LLE."
Just plays the jigsaw cutout full sound and the music while frozen on a black screen.

Angrylion RDP plus can run it just fine and GLideN64 can run Conker in LLE mode to prove its not all games but specifically Banjo-Tooie being at least one of the games not working in LLE here.

[2018-02-18 01:31] loganmc10 commented on #1722
What emulator are you using? (And what version?)

[2018-02-18 04:44] retrobenny commented on #1722
Project64 2.4.0-455 and it fails regardless of recompiler or interpreter.

Also fails on version 2.4.0-522.

[2018-02-18 04:47] loganmc10 commented on #1722
Have you tried 2.3.2? Since this commit: https://github.com/project64/project64/commit/c428d71e7594121ea9423a45b2a723bd92465a48 I don't think PJ64 will support Rare games in LLE very well. I tested Tooie in mupen64plus in LLE and it didn't freeze in the intro.

[2018-02-18 05:51] retrobenny commented on #1722
Banjo-Tooie seems to take a lot of hits in emulation and plugins,GLideN64 doesn't like Groggy bear very much for example from all the times it freezes/crashes when he is spawned on Mupen64Plus FZ Edition,but at least that was fixed last time I checked.

Take note that GLideN64 didn't work on Banjo-Tooie but Angrylion RDP+ worked for running B-T in LLE just fine.
So the difference only being the gf

[2018-02-18 12:26] truskj commented on #1715
Not sure if this is helpful, but Perfect dark had plenty of long pauses... in between missions and after the intro. even selecting character in combat simulator had short pauses between loading models. lately I've been using the OC feature in the new PJ64 and all pauses are gone.. maps and menu load instantaneously and 4 people can be selecting characters seamlessly. I always have display FPS and

[2018-02-18 13:51] gonetz commented on #1712
Should be fixed in latest master.

[2018-02-18 13:52] gonetz commented on #1574
Current master:
https://drive.google.com/file/d/1t0AgpK9A0Gtelji0F2qgR85GCvmTlbgJ/view?usp=sharing

[2018-02-18 14:49] fzurita commented on #1705
I can confirm this.

[2018-02-18 14:53] fzurita commented on #1705
Ok, I see how it could had broke it. It removed this statement from ```DisplayWindow::swapBuffers()```

[code]

Was that the correct thing to do?

[2018-02-18 14:59] fzurita commented on #1705
This can't be the issue. I put back the ```gDP.otherMode.l = 0;``` in ```DisplayWindow::swapBuffers()``` and it didn't fix it.

[2018-02-18 23:23] Nerrel commented on #1702
I wanted to ask again if those results above mean this is a Project64 issue and not a GlideN64 problem; if so, I can take the issue to P64's github instead.  Thanks again for the help

[2018-02-18 23:25] fzurita commented on #1702
It's not a project 64 issue. I have the exact same issue in an Nvidia Shield TV in full GL mode with mupen64plus-ae. The glitches look identical to your screenshots.

[2018-02-19 09:19] gonetz commented on #1705
Please test commit, which adds WDC. Gilles removed Gauntlet related hack in it.

[2018-02-19 12:18] fzurita commented on #1705
That's the one I used to test.

[2018-02-19 15:22] Parthros commented on #1696
Hey, thanks for getting back to me!  I ended up deleting that post because I realized I'd failed to install the plugin correctly.  However, here's a quick summary of what got me working again.

1. Actually copy all the ini files included in the download to the Plugin folder.
2. I granted read & write access to the Plugin folder to pretty much all users on my machine.
3. Double checked that setting

[2018-02-19 17:16] #1700 closed

[2018-02-19 18:29] #1712 closed

[2018-02-19 21:54] Blue-Ike commented on #1609
I just tested it out and you're right. I previously thought that option only worked for 2 player split screen games but when I had 3 players on and switched from Horizontal to Vertical I noticed the menu window's aspect ratio changed. It wasn't as wide as it was on Horizontal. The Vertical option does work for multiplayer with no flickering.

I even tested out my Slayer Fly-by-wire/Seeker (GE-X) t

[2018-02-20 03:06] Blue-Ike commented on #1609
I just tested it out and you're right. I previously thought that option only worked for 2 player split screen games but when I had 3 players on and switched from Horizontal to Vertical I noticed the menu window's aspect ratio changed. It wasn't as wide as it was on Horizontal. The Vertical option does work for multiplayer with no flickering at all.

I even tested out my Slayer Fly-by-wire/Seeker G

[2018-02-20 10:38] gonetz commented on #1705
Does gauntlet flicker if you build from state before WDC added?

[2018-02-20 10:43] gonetz commented on #1696
Roggieh123, is the problem still actual for 8? Have you tried provided solutions?

[2018-02-20 10:44] gonetz commented on #1574
Please open new issue for it.

[2018-02-20 12:14] fzurita commented on #1705
According to the original pull request, it broke more than a month ago. I'll try to find the offending commit soon.

[2018-02-20 13:08] loganmc10 commented on #1705
I posted the offending commit in the original post  (https://github.com/gonetz/GLideN64/commit/732c27a07d285b6de6b2ed8ff6ea56e34b778cfb) someone could verify that though.

The flickering is different, I don't think it's related to the original flickering. Now only certain elements flicker (turn black), not the whole screen.

The changes to WDC won't have made any difference. All that changed was @

[2018-02-20 13:10] fzurita commented on #1705
@loganmc10 I tried reverting that commit and it didn't fix the problem.

[2018-02-20 13:12] loganmc10 commented on #1705
Did you revert the commit or just add ```gDP.otherMode.l = 0;``` back in?

You forgot

[code]

That checks that the hack is not applied, so it is applied for every game except Quake 2

[2018-02-20 13:13] loganmc10 commented on #1705
And it used to do ```gDPSetTextureLUT(G_TT_NONE);``` and now it doesn't as well

[2018-02-20 13:13] fzurita commented on #1705
Duh, thanks, I read the code incorrectly. I'll test again.

[2018-02-20 21:57] loganmc10 commented on #588
The issue in Star Wars Ep I Racer is still there, can't see the vehicle you're driving, only the rockets.

Tested on my phone (Mali T860-MP2, I think it supports GLES3.2)

[2018-02-21 02:23] theboy181 opened #1725 "Micro Machines 64 Turbo (U) Regresion"
Issue with latest builds of GLideN64 and this game. The tracks go in the opposite direction of the smoke.
![bugs](https://user-images.githubusercontent.com/9299743/36459961-17ab14e0-166b-11e8-85dd-29a3a7647f89.gif)
Here is an older version where it works as it should
![bugs2](https://user-images.githubusercontent.com/9299743/36459972-24aeb336-166b-11e8-800e-893ee7075d82.gif)

[2018-02-21 02:29] theboy181 commented on #1725
Looks like it has something to do with multiple of N64 Resolution setting.

[2018-02-21 03:15] gonetz commented on #588
Near plane clipping not supported on GLES devices.

[2018-02-21 03:17] #1705 closed

[2018-02-21 05:12] wew1234 commented on #1711
I would also like to report the same issue. Using latest WIP build with PJ64 and 1964. Both crash at the exact same spot in the game (bringing up pause menu).

Project64.log:
[code]
![crash](https://user-images.githubusercontent.com/36687735/36464064-8dfa4f80-16c5-11e8-8ac7-be1046005826.png)

[2018-02-21 17:24] pdrome commented on #1715
The pauses are there no matter which plugin you are using and I wouldn't be surprised if that was the console behavior (I'd test if my n64 still worked). However, in this case the issue is a missing eraser-type transition animation after the title screen completes it's animation.

I should really change the title and throw up a video.

[2018-02-21 17:26] pdrome commented on #1715
Title fixed.  I'll make a video this evening.

[2018-02-21 18:15] fzurita commented on #588
Glide64mk2 was able to get around the lack of ability to disable near plane clipping. I'm not quite sure how yet though.

[2018-02-22 01:04] Jj0YzL5nvJ commented on #1715
https://youtu.be/MX_QoNfCNKY?t=53m2s

Another way to unleash the event is if you choose **Accept** before a mission. Such also work by choose **Decline** in a place other than the Carrington Institute.

Example: After completing, failing or aborting a mission and choosing any.
https://youtu.be/MX_QoNfCNKY?t=2m12s
https://youtu.be/MX_QoNfCNKY?t=4m15s
https://youtu.be/MX_QoNfCNKY?t=56m44s

P.S: Work

[2018-02-22 03:03] gonetz commented on #588
Glide64 does software polygons clipping.

[2018-02-22 03:46] pdrome commented on #1715
Thanks for the videos showing the normal behavior @Jj0YzL5nvJ .  Here is a side-by-side against Angrylion RDP plus.  Angrylion doesn't quite run full speed on my machine so I chose to sync the videos at the issue.

[![Video showing issue](https://img.youtube.com/vi/uFKZ5v6sNAo/0.jpg)](https://youtu.be/uFKZ5v6sNAo "Video showing issue")

[2018-02-23 11:05] thecoreyburton opened #1731 "3D Object Misalignment"
In certain games, there's a misalignment of 3D objects (sorry if the terminology is incorrect). It usually shows as surfaces not lining up properly, such as walls not connecting or gaps in the ground. Here's a screenshot from the opening area of Paper Mario:
Here's how the game looks on a console:
![c](https://user-images.githubusercontent.com/12134368/36591159-269c1e14-18e5-11e8-866e-289ccfd18236

[2018-02-23 11:58] gonetz commented on #1731
It is known issue. Sometimes it can be fixed with switch to native resolution. I don't know general solution for this problem.

[2018-02-25 05:35] Jj0YzL5nvJ commented on #1561
I have made a small "benchmark", testing some branches and pull requests. All my tests include the changes to disable buffer storage.
 @fzurita, @loganmc10 and for the few people who share my problem. I hope this at least can be useful for you.

[Benchmark 01](https://imgur.com/a/LCXPc)
Savestate: [ge007_1.zip](https://github.com/gonetz/GLideN64/files/1755732/ge007_1.zip)

[Benchmark 02](https://i

[2018-02-25 15:55] loganmc10 commented on #1561
I have a few ideas for this, I'll create some test commits tomorrow for you to try out. Just to confirm, you say that LLE mode is often faster than HLE is that correct?

[2018-02-25 17:24] StenApp commented on #1259
last call for supporting of the Indiegogo campaign:

https://igg.me/at/indihle

[2018-02-25 18:53] Jj0YzL5nvJ commented on #1561
Only with buffer storage enabled. If buffer storage is forcefully disabled, HLE is faster.

[2018-02-25 20:09] loganmc10 commented on #1561
Maybe we'll have to chat on some other platform, I thought you previously said disabling buffer storage didn't make a difference?

[2018-02-25 20:22] fzurita commented on #1561
To make any difference, he had to disable both buffer storage and VBOs.

[2018-02-25 22:14] thecoreyburton opened #1733 "OSD Display: Rendering Resolution"
Is it possible to add a "display rendering resolution" option to the OSD display?

The idea is that if the plugin is set to "same as output resolution" it would display the output resolution, if the plugin was set to "original N64 resolution" it would display the game's native resolution (eg. 320x238 or 640x237) or if the plugin was set "multiple of native resolution" it would display the current

[2018-02-26 00:01] loganmc10 commented on #1561
@Jj0YzL5nvJ This is going to seem like a silly shot in the dark, but can you try to apply this commit:

https://github.com/loganmc10/GLideN64/commit/881f58df4a5fdf539da5b8449d81c999e86ec0a4

Leave everything else like it is in the current master, and I would get ```EnableCopyColorToRDRAM = 0``` for now in the config, just so we can work on one issue at a time.

From what I read, older ATI cards re

[2018-02-26 00:06] loganmc10 commented on #1561
Here is another test: https://github.com/loganmc10/GLideN64/commit/af5d5b8a1878d2e87a6a78dee25a0fd86b745266

Same rules as before, please leave everything else the same as master, and set ```EnableCopyColorToRDRAM = ```. This is testing a different way to handle the buffer storage

[2018-02-26 05:35] loganmc10 commented on #1561
@fzurita I'm curious if https://github.com/loganmc10/GLideN64/commit/881f58df4a5fdf539da5b8449d81c999e86ec0a4 makes an difference on Adreno devices with GLES.3.2 (they'll support VBO + buffer storage). Some stuff I read says the vertex data alignment matters on some mobile chipsets but it's hard to find solid information

[2018-02-26 05:37] fzurita commented on #1561
I can do some quick testing on a slower Adreno device.

[2018-02-26 05:53] BPaden commented on #1561
Neither patch appears to effect my ~1.0 GCN card.

I mentioned earlier that I was interested in running this in a profiler. **Caveat: I have no idea what I'm doing**.

Using the apitrace protocol, it looks like gl calls are using no more than ~2 ms in the gpu.

In the CPU, however, the graph is skewed because some calls to glTexSubImage2D is occasionally take around **100 ms or more** (!!). Howeve

[2018-02-26 07:02] psyke83 commented on #1665
Following up on our previous discussion - I haven't been able to get valgrind working on the Raspberry Pi or get much further in debugging the issue.

Would this change possibly be superior to using the std::map::insert? It also avoids the crash on the Pi:
[code]
The next release of RetroPie will be based on Raspbian stretch, so if you prefer not to move away from std::map::operator[], I can propo

[2018-02-26 08:09] Jj0YzL5nvJ commented on #1561
@loganmc10, my tests without disabling buffer storage and VBOs, take them all with a grain of salt.
GL_ARB_buffer_storage is certainly broken in my drivers.

[Test with EnableCopyColorToRDRAM = 0](https://imgur.com/a/WSKlc)

Personally I did not notice any significant changes, much less by [disabling buffer storage and VBOs](https://imgur.com/a/RJjeo).
But comparing results with the previous test,

[2018-02-26 12:47] gonetz commented on #1733
It is possible. I'll do it.

[2018-02-26 13:54] loganmc10 commented on #1561
@BPaden that trace is very helpful. My next test will be replacing glDrawElementsBaseVertex with glDrawArrays. I assumed this might be an issue since @Jj0YzL5nvJ mentioned that LLE works better, I believe LLE always uses glDrawArrays (I could be remembering wrong though).

Disabling VBO's is good for testing, but it can't be a long-term solution. Core OpenGL requires the use of VBO's (that's why y

[2018-02-26 15:37] loganmc10 commented on #1561
Ok @BPaden @Jj0YzL5nvJ can you try this commit:

https://github.com/loganmc10/GLideN64/commit/381274c93d75a0ed9174987ba0bdf2d7fd22d8df

I tested this on my Nvidia laptop and saw no difference in performance, but it may make a difference for you. I'm also curious if this makes any difference on Adreno devices with buffer storage @fzurita

[2018-02-26 15:49] BPaden commented on #1561
libGL: FPS = 60.9
libGL: FPS = 59.9
libGL: FPS = 59.9
libGL: FPS = 59.9
libGL: FPS = 56.9
libGL: FPS = 60.9
libGL: FPS = 59.9
libGL: FPS = 59.9
libGL: FPS = 59.9
libGL: FPS = 59.9
libGL: FPS = 59.9
libGL: FPS = 59.9
libGL: FPS = 59.9
libGL: FPS = 59.9
libGL: FPS = 60.9
libGL: FPS = 59.9
libGL: FPS = 59.9
libGL: FPS = 59.9
libGL: FPS = 59.9
libGL: FPS = 59.9
libGL: FPS = 59.9
libGL: FPS = 59.9
libG

[2018-02-26 15:55] gonetz commented on #1574
Current master + optimizations by loganmc10 :
https://drive.google.com/file/d/1U7vQ6QTamQ-oFm-dmEx5syXi9v-p4Pvm/view?usp=sharing

[2018-02-26 15:58] fzurita commented on #1561
Sure, I'll try that. It will actually probably help performance with slower Android devices. I do know that VBOs and EBOs are slower with them. I remember in the past they were about 10% slower.

[2018-02-26 16:02] loganmc10 commented on #1561
Yeah well it definitely looks like we found the bottleneck in the Mesa driver. I'm going to hope on their IRC channel and ask about this.

It's a little counterintuitive, the whole point of the elements (glDrawElements), is that you can reduce the amount of bandwidth used in uploading the vertex data. But maybe when used in conjunction with VBO streaming the benefits are negated, I'll be curious t

[2018-02-26 18:18] Jj0YzL5nvJ commented on #1561
This time the improvement is huge:
[Test with new arrays](https://imgur.com/a/l2jUG)

This time I don't consider necessary a test by disabling buffer storage and VBOs. (The true is that I'm short of time =P)

[2018-02-26 18:21] fzurita commented on #1561
Copy color to RDRAM is still slow even with that change it seems.

[2018-02-26 18:24] loganmc10 commented on #1561
Yeah I suspect that disabling buffer storage for the copies might fix that, we can test that in a bit.

Sorry to do this to you, but @Jj0YzL5nvJ and @BPaden can you do one more test for me?

https://github.com/loganmc10/GLideN64/commit/65275370b8cb0c29c944d74182f58978594fd59b

I've been looking at Dolphin's code, and it looks like they don't use buffer storage or any buffers for the element arrays

[2018-02-26 18:45] loganmc10 commented on #1561
Also, can one or both of you add:
[code]
Here:

https://github.com/gonetz/GLideN64/blob/master/src/Graphics/OpenGLContext/opengl_GLInfo.cpp#L29

And post the output.

We need to see how your card reports it's name so we can disable the buffer storage extension for Copy color to RDRAM

[2018-02-26 19:03] loganmc10 commented on #1561
Another update: someone from Mesa responded and indicated that it us our use of GL_UNSIGNED_BYTE that is the issue, please also test this:

https://github.com/loganmc10/GLideN64/commit/23d23e37f78b1203248df71dcb13033b280b9c45

We are looking for whatever solutions offers the best FPS really (although the use of glDrawArrays is probably out).

So I'm curious between these 2 solutions:

https://gith

[2018-02-26 19:22] loganmc10 commented on #1561
@fzurita I wonder if that is the reason the Copy Color to RDRAM is slow as well, I believe glReadPixels is using GL_UNSIGNED_BYTE right?

[2018-02-26 19:47] BPaden commented on #1561
No problem. :)

`AMD Radeon HD 8500 series (OLAND / DRM 3.23.0 / 4.15.6-1-ARCH, LLVM 5.0.1)`

https://github.com/loganmc10/GLideN64/commit/65275370b8cb0c29c944d74182f58978594fd59b

this is about 5-10 FPS faster than master, but still slow.

https://github.com/loganmc10/GLideN64/commit/fa0ab9d0aeb14f8760623aa0f6d3833bb824ad04

This is running at full speed for me.

[2018-02-26 19:50] BPaden commented on #1561
Oh also I have EnableCopyColorToRDRAM=2 for this test.

[2018-02-26 19:50] fzurita commented on #1561
@loganmc10 That could be the reason for your specific device.

All the devices I have in my possession are pretty fast when using glReadPixels in a async way, except for Adreno 530, which I had to use floats for the pixel buffer. GLES 2.0 devices can't do a glReadPixels in a async way due to lack PBOs, but a lot can use the EGL image extension which is REALLY fast.

Anyways, devices that have fast

[2018-02-26 19:52] loganmc10 commented on #1561
Sorry I meant why @Jj0YzL5nvJ might be experiencing slow glReadPixels, you've looked into the format stuff a lot so I thought you might have some insight on that. Maybe I'll try using the FLOAT type for the Radeon cards like the Adreno 530 has to see if it works faster.

[2018-02-26 20:20] LegendOfDragoon commented on #1561
Any idea if Intel IGP's could benefit from any of these changes?

[2018-02-26 20:23] loganmc10 commented on #1561
According to the person on the Mesa issue tracker (https://bugs.freedesktop.org/show_bug.cgi?id=105256#c4):

At a very quick glance at the driver code, it looks like newer nvidia chips can handle it (everything from g80). nv30/nv40 cannot, but there it looks like nv30 will emulate index buffers anyway, so the only chips which this might make a difference is nv40 family.
Looks like all intel chips

[2018-02-26 22:31] loganmc10 opened #1736 "SD Hiryuu no Ken Densetsu: OpenGL Error in LLE"
I was testing this game in LLE and came across this GL error:
[code]

It happens first at this screen, and only in LLE:

![sd_hiryu_stadium-000](https://user-images.githubusercontent.com/848146/36699486-033a0c66-1b0a-11e8-8599-b11d09144670.png)

[2018-02-26 22:36] loganmc10 commented on #1736
Here are the calls that generated the error:

![image](https://user-images.githubusercontent.com/848146/36699614-6f08f538-1b0a-11e8-9f4d-c656721f0e58.png)

I think the "Invalid texture format." is incorrect, the texture format looks fine, I believe the issue is that it is trying to create a texture with ```width=0```

[2018-02-27 06:09] theboy181 commented on #406
Killer Instinct Gold (U) (V1.0)
Sky Fix for GLideN64

81019AEA 4100

Note: Works in game, but there are still issues in the menus

[2018-02-27 11:11] Jj0YzL5nvJ commented on #1561
`AMD JUNIPER (DRM 2.50.0 / 4.13.0-36-generic, LLVM 5.0.1)`

[Crippled GL_ARB_buffer_storage?](https://imgur.com/a/PIn3D)

Is any nouveau user out there?...

[2018-02-27 17:08] thecoreyburton commented on #1733
Thank you gonetz!

Would it also be possible to add an option to play the game at the exact resolution it is rendering at? By this, I mean disable the aspect ratio correction and instead set the window size to the current rendering resolution if it's set to original n64 resolution or a multiple of n64 resolution.

I know this will make some games appear stretched or strangely sized (to regular use

[2018-02-27 20:50] rez- commented on #1716
strange enough, when you go down a bit, when your less high, the tiles back are normal.

![smash_brothers-000](https://user-images.githubusercontent.com/10398036/36754020-330c342e-1c08-11e8-813c-d8958b7eaec0.png)
![smash_brothers-001](https://user-images.githubusercontent.com/10398036/36754021-33225394-1c08-11e8-9f0c-1ec936916bbb.png)

[2018-02-27 21:18] rez- commented on #1725
when I use normal resolution in m64p, all is fine, when i do fullscreen, the smoke goes the wrong way..
public release is 1.2 working
public release 2 i cant check, it stays in native resolution
public release 3 is broken

[2018-02-27 21:23] AmbientMalice commented on #1733
The N64 itself doesn't output at those resolutions. All output is resized to a fixed size by the video interface.

[2018-02-27 22:36] schubertguilherme commented on #1574
Hi gonetz why World Driver Champioship slow in Project 64 2.3.2? This is last build Gliden64 https://drive.google.com/file/d/1U7vQ6QTamQ-oFm-dmEx5syXi9v-p4Pvm/view?usp=sharing

Hugs and congratulations for this plugin.

[2018-02-27 22:54] loganmc10 commented on #1574
@schubertguilherme World Driver Championship (and Stunt Racer) will only work in HLE with mupen64plus. You can try it out here if you'd like: https://m64p.github.io

[2018-02-27 23:47] schubertguilherme commented on #1574
loganmc10
Here Mupen is slow in any game, Project 64 gets better results, it gets more fluid, but in World Driver it slows down and Mortal Kombat Trilogy slows down in the "The Subway" stage, the rest is good.

This is last build Gliden64?

 https://drive.google.com/file/d/1U7vQ6QTamQ-oFm-dmEx5syXi9v-p4Pvm/view?usp=sharing

[2018-02-28 03:05] thecoreyburton commented on #1733
Ah, sorry for my incorrect assumption. I stand corrected.

Still, I would still be very interested in seeing a 1:1 representation of the rendering resolution as an option somewhere in the plugin.

[2018-02-28 08:15] Jj0YzL5nvJ commented on #1561
Benchmark 06746ac vs 06746ac+1735.patch (SHA256: `ba4f4db46dd861a08cd8dec222e20714c391c3d682739d9bb04326c60e358e79`)

[EnableCopyColorToRDRAM = 2](https://imgur.com/a/TKmwE)

[EnableCopyColorToRDRAM = 0](https://imgur.com/a/Dm3Qn)

[2018-02-28 09:55] #1561 closed

[2018-02-28 13:23] gonetz commented on #1733
Rendering resolution can vary within one game, e.g. high resolution in menu to draw sharp 2D and low resolution in game to render more polygons. What should plugin do -resize window?

[2018-02-28 13:57] thecoreyburton commented on #1733
I think yes. If it's setting the window size to the rendering resolution when this new option is enabled, then when the rendering resolution changes in-game so should the window size.

[2018-02-28 14:14] gonetz commented on #1574
Yes, it is the latest one made by me.
You will not be able to run WDC with Project64 in HLE, it must include the same core changes as mupen64plus first.

[2018-02-28 14:16] gonetz commented on #1733
It is too complex. I will not have time for that this year.

[2018-02-28 14:32] thecoreyburton commented on #1733
That is understandable. The "display rendering resolution" option to the OSD should be plenty until then.

[2018-02-28 14:54] theboy181 commented on #1733
How would full screen react to these window changes?

[2018-02-28 15:17] thecoreyburton commented on #1733
That is a very good question. I only thought of the idea with the intent of getting uncorrected frames that are 1:1 to the render resolution when it's set to "original N64 resolution" or "multiple of native resolution". This was the best idea that came to my mind, but perhaps a better idea serving the same purpose is needed.

Regarding the current idea and fullscreen, if there is no good solution

[2018-02-28 15:43] vadosnaprimer commented on #1733
Rendering at fullscreen forces the screen's resolution anyway, so there's no sense in using this mode to watch pixel-perfect content. As for rendering pixel-perfect content and then stretching that to fullscreen, there's no certainty it'd look as good as rendered at fullscreen res altogether.

[2018-02-28 16:04] schubertguilherme commented on #1574
gonetz

Okay, thank you very much for the information, I'm waiting for the fix Speed ​​World Driver Chapiomship for Project 64 and congratulations again for this wonderful plugin. Hugs.

[2018-03-01 00:28] Mushman commented on #1711
I initially reported this behaviour for Goldeneye 007 in #463. Interesting to see it occurs in other games too.

[2018-03-01 13:22] Tasosgemah commented on #1574
@loganmc10

Would you recommend using the 64bit version of m64p over the 32bit?

[2018-03-01 13:29] loganmc10 commented on #1574
Yes I would use the 64 bit version, there is no real benefit to the 32 bit version, except that the binaries that gonetz distributes are 32 bit so you would need it if you want to use those. However m64p already includes up to date builds of GLideN64

[2018-03-02 06:04] theboy181 opened #1739 "GLideN64 3.0 Regression"
@gonetz

I was not sure till just now, after some testing. 3.0 has a regression where some triangles in several game will fail to render for a frame or two. I tested against current WIP, 3.0 release, Glide64 and an older build I have (AIO opt).

Bug happens in current WIP, and 3.0 - I hope that you are able to reproduce, and squash it.

[Roadsters Trophy (U) (M3) - Project64 2.4.0.9999 3_1_2018 9_

[2018-03-02 15:51] theboy181 opened #1740 "GLideN64 3.0 Regression (Noise)"
Kirby64, noise is broken.

![image](https://user-images.githubusercontent.com/9299743/36907819-71705258-1dee-11e8-9bf9-8094352bbef6.png)

Not sure if its the same issue that is breaking water effects in Geomon when AA is on.

[2018-03-03 15:36] olivieryuyu commented on #1259
![1](https://user-images.githubusercontent.com/8987490/36936080-a850c934-1f00-11e8-898d-a73f5acb4f77.jpg)
![2](https://user-images.githubusercontent.com/8987490/36936081-a876eb46-1f00-11e8-883c-4c04aea34593.jpg)
![3](https://user-images.githubusercontent.com/8987490/36936082-a89b586e-1f00-11e8-965f-6f54ae2b6834.jpg)

Few screenshots of the particle effects system in the HLE version.

Bug reports a

[2018-03-03 16:51] loganmc10 commented on #1702
I can reproduce this in VMware Mesa but not on a regular laptop with Mesa.

The last time I ran into an issue like this was here: https://github.com/gonetz/GLideN64/pull/1503

It was a memory initialization issue, not a GPU issue. Different platforms handle memory differently it seems.

[2018-03-03 17:03] loganmc10 commented on #1702
I would look for variables related to monochrome behaviour that don't have their value explicitly set

[2018-03-03 18:01] piau9000 commented on #1274
Can confirm that it happens on both (U) and (E).
It also happens on native resolution, though at 2x or more the problem is more apparent.

[2018-03-04 13:23] gonetz commented on #1709
Just tested - no problems with speedometer.

[2018-03-05 01:13] theboy181 opened #1741 "Fighting Force 64 (U) GFX issue"
![image](https://user-images.githubusercontent.com/9299743/36953398-3b60778c-1fcf-11e8-8309-37472d6777cc.png)
![image](https://user-images.githubusercontent.com/9299743/36953406-495f1eec-1fcf-11e8-83d7-9bf163e15c56.png)
[Fighting Force 64 (U).pj8.zip](https://github.com/gonetz/GLideN64/files/1779182/Fighting.Force.64.U.pj8.zip)
GlideN64 vs Glide64 Final
save included for slot 8

[2018-03-05 01:16] theboy181 commented on #1741
Something do with 2d GUI objects.

[2018-03-05 13:06] gonetz commented on #1740
May be it is result of your widescreen hack? I tested the game with default settings, no issues with noise.

[2018-03-05 14:58] theboy181 commented on #1740
I’ll test again but I don’t have a WS hack set

[2018-03-05 15:15] theboy181 commented on #1740
Still happening, any other suggestions?
![image](https://user-images.githubusercontent.com/9299743/36982508-d749ad24-2044-11e8-8999-c2b0aa50f92e.png)

I guess its not best quality setting. I have this set on all the time. Any chance it can be fixed?

[2018-03-05 15:18] theboy181 commented on #1740
![image](https://user-images.githubusercontent.com/9299743/36982686-4b23efb6-2045-11e8-85ae-a17e0adb29b0.png)
Here is an older version on GLideN64 with the setting turned on.

[2018-03-05 15:32] theboy181 commented on #1740
same setting is breaking Indy Racing
![image](https://user-images.githubusercontent.com/9299743/36983477-565262ee-2047-11e8-9827-7acda64a6e0f.png)

[2018-03-05 15:35] theboy181 commented on #1741
Tested with defaults.
![image](https://user-images.githubusercontent.com/9299743/36983683-d5dcb58c-2047-11e8-86f6-ccda5d4c6b0f.png)

[2018-03-05 15:58] #1733 closed

[2018-03-05 20:20] rez- commented on #1741
no problems for me here in level 1.2...

![fighting_force-000](https://user-images.githubusercontent.com/10398036/36997688-c10d9b12-20ba-11e8-894d-53950a512662.png)

However, i experienced lag in this level

using 06746ac

[2018-03-06 00:23] theboy181 commented on #1741
Did you confirm on pj6?

[2018-03-06 00:47] theboy181 commented on #1741
Is your screen shot taken from my save? This issue happens intermittently.

[2018-03-06 01:20] theboy181 commented on #1741
Did you confirm on pj64? Is your screen shot taken from my save? This issue only happens intermittently, regardless of level.

[2018-03-06 01:44] theboy181 commented on #1741
4:35 you will see the ORANGE block popping into frame.  This video was taken with WS hack, but I have tested with it on and off.
https://youtu.be/5Qz5vBHNT4c

[2018-03-06 01:48] theboy181 commented on #1741
4:35 you will see the orange block popping into frame. The health bar is black then fills after this flash.  This video was taken with WS hack, but I have tested with it on and off.
https://youtu.be/5Qz5vBHNT4c

[2018-03-06 05:06] gonetz commented on #1740
Hmm, so it is native res 2D setting breaks the things. I'll check what's wrong with it.

[2018-03-06 19:15] olivieryuyu commented on #1259
two bugs so far:

- snow in level 4 depth issue
- crash at the waterfall in level 1

[2018-03-06 20:15] StenApp commented on #1259
Impressive work

[2018-03-06 22:18] olivieryuyu commented on #1259
it works with PJ64 and Mupenplus indeed.

The other emus may boot the game but they will have various graphic bugs.

[2018-03-07 02:53] thecoreyburton commented on #1733
Thank you for implementing this!

I have two questions about how native resolution is handled in relation to overscan. Using "Banjo-Kazooie" as an example, I notice the native resolution is 292x214. This game also has a noticable portion of overscan. Does the native resolution refer to the game's viewport and overscan, or just the viewport on it's own?

My second question is how is the overscan cr

[2018-03-07 03:06] theboy181 commented on #1733
Is there a link to this build?

[2018-03-07 05:51] gonetz commented on #1733
@thecoreyburton
Native resolution refers to rendering buffer size in RDP. That is it is size of picture, rendered by the game. This picture is then mapped to TV screen by Video Interface.

Do you mean black bars around the picture? They can be either rendered by RDP or Video Interface can add them. Game developers could choose either way. You may disable frame buffer emulation. This will disable V

[2018-03-07 13:37] dankcushions commented on #1733
@vadosnaprimer

for lower spec systems like the raspberry pi, i wish fullscreen could act this way. ie, the system doesn't have the power to run gliden64 at native 1080p, but we also don't want to run in a tiny window. currently retropie uses sdl to upscale a small mupen64plus window to full screen, but a native solution would be better

...but maybe this is mupen64plus's responsibility rather tha

[2018-03-08 08:19] gonetz commented on #1710
It is another issue with "render 2D elements in N64 resolution"

[2018-03-08 08:29] gonetz commented on #1725
I can't reproduce it.

[2018-03-08 08:33] rez- commented on #1725
Hmm, that's odd. Maybe it has something to do with the GFX card. I used Nvidia. I'll check my Intel one as well.

[2018-03-08 08:40] gonetz commented on #1722
PJ64 2.3.2.202 running B-T in LLE just fine.

[2018-03-08 09:15] gonetz commented on #1713
I use PJ64 2,3 and I never had resolution jumping.
I need bug scenario, which I can reproduce.

[2018-03-08 09:16] gonetz commented on #1725
May be that. I use Radeon.

[2018-03-08 09:43] gonetz commented on #1739
I run the game exactly  as on your video but was unable to reproduce the bug.
I run it with Project 64 2.3.2
Could you give me a savestate to test?

[2018-03-08 09:46] gonetz commented on #1709
Issue with "render 2D elements in N64 resolution"

[2018-03-08 10:21] retrobenny commented on #1722
May be something to do with many factors like Shygoo's debugger but I don't know what could be causing it to be the reason.

[2018-03-08 10:22] retrobenny commented on #1713
Hmm,maybe check Airboarder 64 since that has its own issue of seizure flickering for me.

Maybe I should see what happens if I force my Intel GPU to do the work or vice versa if I messed up settings.

[2018-03-08 15:39] theboy181 commented on #1725
I checked both my Nvidia setups. It happens with anything above 2x. I tested without the 2d items checked, but same issue.

[2018-03-08 15:45] theboy181 commented on #1739
I reset my GLideN64 settings and the issue has gone away with this save state. Let me monitor this a little closer. It was happening in another game last night. Only this game had buildings in the back ground that would would disappear.

In another game, Virtual Chess, the pieces would flash with missing triangles. I'm not sure what causes is exactly, but when it does happens I can make a save sta

[2018-03-08 15:57] theboy181 commented on #1733
@gonetz had a look at the link you provided. Is there any reason you are not maintaining zilmar spec any longer?
I was worried that your crowed funding would only have mupen support too. This might eliminate some of the possible funding for you and your teams efforts.  :(  ( I also do all my debugging in zilmar spec emulators :( )

[2018-03-08 16:02] loganmc10 commented on #1733
@theboy181 GLideN64 fully supports the zilmar-spec. Gonetz just has mupen64plus spec auto-builds working via AppVeyor. I believe it was more difficult to get the auto-builds of the zilmar-spec working because of the dependency on Qt. It someone figured that out, then auto-builds of the zilmar-spec version would happen as well.

The only thing that the mupen64plus version supports that the zilmar s

[2018-03-08 16:14] theboy181 commented on #1733
This makes more sense now. Thanks for clearing that up. :)  Ir's good to hear that its a setup error and not a movement change from zilmer spec emulators.

[2018-03-08 16:31] theboy181 commented on #1725
Updated my Nvidia Drivers. Issue still occurs at any setting above x2

[2018-03-08 20:23] AmbientMalice commented on #1733
It'll probably crash at the end of every level, though.

[2018-03-08 20:37] loganmc10 commented on #1733
Impossible to say without testing, but yes it does that in LLE currently. Running the game in HLE might get around that bug. Either way that still isn't a reflection of GLideN64's support of the zilmar-spec, that is just an emulator issue.

[2018-03-08 22:05] theboy181 commented on #1733
@ambientmalace are you the one moanjng on 4chan about this game? You able to do some testing and report your findings to the appropriate developers?

[2018-03-09 08:58] AmbientMalice commented on #1733
@theboy181 Sorry, but I have no idea what you're talking about.

[2018-03-09 15:29] theboy181 commented on #1733
Sorry, there was someone complaining and not trying to do anything on 4chan. It was in the same tone as your comment. You should help that person out by reporting anything you may know about the issues causing the problems on emulators. :)

[2018-03-09 15:46] loganmc10 commented on #1733
mupen64plus used to have the same issue of Indiana Jones freezing at the end of each level. I didn't track it exactly, but I believe it had something to do with the SI interrupt timing/flags, mupen64plus handles that a bit differently from PJ64. From what I remember, PJ64 only delays the SI interrupt for certain games, and doesn't set any of the SI flags. mupen64plus always delays the SI interrupt

[2018-03-09 15:48] theboy181 commented on #1733
So there is no issue in Mupen? If so, that 4Channer needs to be informed!

[2018-03-09 15:50] loganmc10 commented on #1733
The only issue I'm aware of is this one: https://github.com/mupen64plus/mupen64plus-core/issues/542

The game doesn't work right with the 32-bit dynarec, but it works fine with the 64-bit dynarec. It sounds like the problem might have been pinpointed, but I haven't had the time to look at it or test the fix yet. With 64-bit mupen64plus I'm not aware of any bugs with Indiana Jones.

[2018-03-09 15:57] theboy181 commented on #1733
no reason for any of the negativity then I suppose! Good the hear the issue has been possibly pinpointed!

[2018-03-09 21:36] loganmc10 commented on #1520
This isn't a bug at all. Try this with Smash Bros, it will run at the correct speed.

If you have FBE turned off, then the plugin will only swap buffers at the frame rate of the game. For Mario 64, this is 30FPS, so if you have FBE turned off, speed limited turned off, and vsync turned on, it will allow 60 buffer swaps per second, so the game will run at twice the speed it should.

The same thing

[2018-03-09 21:44] loganmc10 commented on #1534
Is this still a problem? I tested Perfect Dark at 1x native and 10x native. With 1x I got around 150 VI/s and with 10x I got around 110. That's pretty good I would say.

There is still the issue of crippling framerate with using MSAA + a really high resolution, but I don't know if that is a bug, or just asking too much of the plugin. If that is the only remaining issue I would maybe rename this is

[2018-03-09 23:09] AmbientMalice commented on #1733
You mean with Angrylion's? There are a few problems. The first is of course that performance is really not good. The second is that particle effects aren't rendered correctly. (Due to an LLE RSP issue). The third is that the game has interlacing and so looks kinda ugly due to combing artifacts.

https://github.com/gonetz/GLideN64/issues/1259#issuecomment-362923669

[2018-03-09 23:10] SuperToad64 opened #1745 "Super Mario Star Road: Black Screen Issue (Frame Buffer Emulation)"
Every time I try to run Super Mario Star Road I get a completely black screen. Once I disable Frame Buffer Emulation I get this:

https://cloud.githubusercontent.com/assets/4800879/7552485/2268820e-f6b7-11e4-848d-4359335a1a94.jpg

https://cloud.githubusercontent.com/assets/4800879/7552476/c4b3c2ae-f6b6-11e4-80d3-66de5ede6219.jpg

This happens with almost all of the Super Mario 64 Rom hacks. It see

[2018-03-09 23:13] loganmc10 commented on #1745
The bug is with the ROM hack, not the GFX plugin. These ROM hacks don't work on a real N64, they won't work with accurate GFX plugins like Angrylion or GLideN64.

I doubt this will be fixed, you can try to ask the ROM author to fix the ROM. There are some ROM hacks that are well written and work on real N64's (the recent "Goldfinger N64" comes to mind), and they also work with GLideN64

[2018-03-09 23:15] SuperToad64 commented on #1745
Is there a way to add software emulated frame buffer like Glide64 does? If not do you know of any other project64 plugin that allows you to make custom windowed resolutions. I was told that Glide64 has a list of windowed resolutions that you can edit, but I could not find it.

[2018-03-09 23:31] SuperToad64 commented on #1745
I was thinking that some Custom Settings could fix this problem. Because it is centered around the Frame Buffer. But I could not find a list of settings for the tag frameBufferEmulation. Does anyone have a list of all the different Custom Setting commands that you can enter into the GLideN64.custom.ini? Because it would be helpful for testing purposes.

[2018-03-10 04:03] loganmc10 commented on #1211
@gonetz it seems like this is possible to fix via shaders

https://stackoverflow.com/questions/5960757/how-to-emulate-gl-depth-clamp-nv

Basically in the Vertex shader you do:

[code]

I assume for ```gl_Position.z = 0.0;``` you could do ``` if (gl_Position.z < 0) gl_Position.z = 0.0``` and that should leave far plane clipping enabled right?

Then in the fragment shader you do:

[code]

And the "z

[2018-03-10 04:11] fzurita commented on #1211
Yeah, I saw that too but wasn't sure how to implement it:

https://stackoverflow.com/questions/5960757/how-to-emulate-gl-depth-clamp-nv

[2018-03-10 07:33] olivieryuyu commented on #1259
MFC0 V0, DP clock counter

DP clock counter is not emulated any RSP plugin I would think.

[2018-03-10 07:40] LegendOfDragoon commented on #1259
Thanks! I figured it was the clock counter :smile: . So far, I've only seen that get used in Pokemon Stadium 2 GB Tower iirc. Of course my microcode collection is nowhere near complete though.

I guess I'll have to try dumping more of indiana jone's code, so I can see what it does with that number.

[2018-03-10 09:16] gonetz commented on #1745
Yes, it will not.

[2018-03-10 09:16] #1745 closed

[2018-03-10 09:33] gonetz commented on #1713
I need screen shot or shot video demonstrating what is wrong.
Heisenbugs have near-zero chance to be fixed.

[2018-03-10 09:37] gonetz commented on #1711
Please give me link to hires pack.

[2018-03-10 09:43] olivieryuyu commented on #1259
crash at the waterfall in level 1 fixed.

Need now to focus on the terrain generation for Battle of Naboo. It will be a long long road...

[2018-03-10 09:47] Tenolius commented on #1711
http://www.emulation64.com/files/info/1287/banjo-tooie-by-gronos.html/

[2018-03-10 17:39] SuperToad64 opened #1746 "Alternate Solution to Issue #1745 - Adding Custom Windowed Resolutions To Old Glide64 Plugin"
Since issue #1745 was closed without much discussion and not solved I am offering a different solution. Since we cannot play ROM hacks on GlideN64 because of the black screen issue and the black texture issues why not add custom windowed resolutions to the old Glide64 plugin? That way people who want Custom Windowed Resolutions can have them when playing ROM hacks. I wouldn't mind if you guys adde

[2018-03-10 17:40] loganmc10 commented on #1746
You are asking this in the wrong place, you might want to try: https://github.com/project64/project64

[2018-03-10 17:45] loganmc10 commented on #1746
The only version of glide64 that is maintained (that I know of) is here:

https://github.com/project64/project64/tree/master/Source/Project64-video

It was renamed to Project64-video

[2018-03-10 17:47] SuperToad64 commented on #1746
Interesting find, didn't know that it was renamed. Thanks, I'll look into it.

[2018-03-10 18:30] rez- commented on #1741
OK, i wasn't paying attention at first, but the health bar is acting a bit strange yes. when i run around in level 1.2 sometimes it happens that it fills half the screen, after which the health bar is gone. And then appears as normal again. The performance seems improved with the latest master though!

[2018-03-10 18:44] SuperToad64 commented on #1746
Nevermind, I found out how to download Project64-Video. It is included in their development builds. In the newest version v2.4.0-668-gc506db5 that was built in 2nd March 2018 there is the same black screen issue if you turn frame buffer emulation off. But if frame buffer emulation is left on it crashes the rom with this message:

CN64 System::RunRSP()
Unknown Memory Action
Emulation Stop

Tracking

[2018-03-10 19:07] oddMLan commented on #1746
Ok. Could you close this issue then?

[2018-03-10 19:10] SuperToad64 commented on #1746
Yes. Sorry about that. Hopefully more testing will determine the cause at Project64's github.

[2018-03-10 19:10] #1746 closed

[2018-03-10 21:31] fzurita commented on #1211
Here is a save state
[zelda 1.2 (U) swingshot.zip](https://github.com/gonetz/GLideN64/files/1799816/zelda.1.2.U.swingshot.zip)

[2018-03-10 21:56] fzurita commented on #1211
And an in-game save:

[Legend of Zelda, The - Ocarina of Time (U) (V1.2) [!].zip](https://github.com/gonetz/GLideN64/files/1799837/Legend.of.Zelda.The.-.Ocarina.of.Time.U.V1.2.zip)

[2018-03-11 00:55] Mushman commented on #1711
In Goldeneye, you don't need to actually be using a texture pack. You just need to have enabled `Texture dumping/editing mode`.

[2018-03-11 07:33] gonetz commented on #1716
This issue is inherited from glN64.

[2018-03-11 09:37] gonetz commented on #1574
Current master + fix for #1716
https://drive.google.com/file/d/1X-LX7AgHijSY0BNeQFTa-bGQh-9ANWCh/view?usp=sharing

[2018-03-11 10:13] mudlord commented on #1731
I thought the solution was to rewrite the triangle drawing code to use proper fixed point code.

[2018-03-11 15:48] SuperToad64 commented on #1574
I might have a potential fix for issue #1745

Is there any way to disable the fog effects in GlideN64?

Like in Glide64 there was a setting to turn off fog.

![glide64_emulation_settings](https://user-images.githubusercontent.com/37228863/37255361-d37c94fe-2521-11e8-9c7e-06d060a59845.JPG)

Because someone on the Project64 forums told me to try to disable fog effects, as they might be causing the b

[2018-03-11 16:40] theboy181 commented on #1716
Too bad the Grass in Dreamland has issues will, was hoping this was related to that.

[2018-03-11 18:16] theboy181 commented on #1731
I like the sound of that @mudlord!

[2018-03-11 21:28] AmbientMalice commented on #1574
No. The fog is controlled by the microcode. This was a deliberate change. Certain N64 romhacks utterly violate proper behavior. The romhacks need to be fixed. They're horribly coded.

[2018-03-11 21:41] SuperToad64 commented on #1574
How is it the Romhack's fault if you deliberately changed something that is breaking them? I don't get the logic behind that. So there is no way to turn off fog? It seems like GlideN64 is a step backwards instead of a step forwards in GFX plugin development.

There has to be a way to turn off fog. Because sometimes fog lags out the emulator, I would rather have a way to turn it off, this should be

[2018-03-11 21:42] theboy181 commented on #1574
He is just bitter for some reason. Come join us on Discord64. There is probably an expert there that can lead you to success.

[2018-03-11 21:46] SuperToad64 commented on #1574
Thanks! Hopefully we can fix it. Do I need an invite to the discord server?

[2018-03-11 21:47] theboy181 commented on #1574
Can you pm me on pj64?

[2018-03-11 21:49] SuperToad64 commented on #1574
Sure, how do I do that?

[2018-03-11 22:01] AmbientMalice commented on #1574
The rom hacks crash and/or render incorrectly on a real N64. It's the responsibility of the rom hack creators to stop writing code that violates standards. This is like ZSNES all over again. If it doesn't work on real hardware, it shouldn't exist.

[2018-03-11 22:06] SuperToad64 commented on #1574
@AmbientMalice
There is no excuse for GlideN64 to not have a fog setting, removing it was a step back in development. The fog effect is breaking it, just add the ability to turn off fog and the rom hack will work, plain and simple. For GlideN64 to be a working GFX plugin it should have the ability to turn on and off settings for different situations. Settling with anything else is just plain lazyn

[2018-03-11 22:07] AmbientMalice commented on #1574
You can't turn off fog on a real N64.

The fog effect is breaking it because the romhack is broken. The rom hack should be fixed.

[2018-03-11 22:12] SuperToad64 commented on #1574
Who cares about a real N64. I want it to work on the emulator, don't you get it? The fog effect can be turned off in the settings with all of the other Glide plugins, but they don't have the Custom Windowed Resolutions that I want. How hard is it to push back the fog effect setting? The Rom hacks are already bug fixed and are in their final versions. The Rom hack authors have moved on to newer and

[2018-03-11 22:34] AmbientMalice commented on #1574
The purpose of N64 emulators is to emulate an N64, not to emulate the emulator that rom hacks were written for. Rom hacks should NEVER be written in a way that means they only work on inaccurate emulators because as emulators improve in accuracy, the rom hack will inevitably cease to work. It's simply a matter of time. Mupen64plus recently merged a change that breaks all rom hacks that align DMA c

[2018-03-11 22:51] SuperToad64 commented on #1574
Ok, well that leaves me no choice but to stick with Glide64 Final then. Because I have no problems with Project64 itself, as I have the latest version and the rom hack works just fine. But unfortunately I won't be able to expand Project64 to my entire HD screen. Since no windowed resolution 1920 x 1080 exists in Glide64. Hopefully on Discord64 I can figure out how to turn fog off in GlideN64, beca

[2018-03-12 00:24] SuperToad64 commented on #1574
BUUUT . . . I got a fix from Discord64!!! It turns out the problem was a bad 0xFC setcombine. So the ROM file was at fault.

It looks like Last Impact will have some issues as well:

Quoted by Trenavix

    yeah last impact is pretty trashed on everything that's not jabo's because kaze hardly tested anything
    if you do the setcombine trick on it it's playable but has some bugs here and there

S

[2018-03-12 00:25] SuperToad64 commented on #1745
BUUUT . . . I got a fix from Discord64!!! It turns out the problem was a bad 0xFC setcombine. So the ROM file was at fault.

It looks like Last Impact will have some issues as well:

Quoted by Trenavix

    yeah last impact is pretty trashed on everything that's not jabo's because kaze hardly tested anything
    if you do the setcombine trick on it it's playable but has some bugs here and there

S

[2018-03-12 01:44] Craftyawesome commented on #1574
IMO you could argue disable fog as an enhancement. If it can be implemented cleanly and in a highly compatible way it should be an option.

[2018-03-12 01:58] gonetz commented on #1574
@SuperToad64 this thread is for links on WIP builds. Your long discussion is off-topic here and it makes difficult for users to find related posts.

[2018-03-12 03:02] SuperToad64 commented on #1746
Issue Fixed! Refer to Issue #1745 for the fix.

[2018-03-12 05:13] gannon345 opened #1748 "GlideN64 crashing on Nvidia Shield tablet"
Latest version of GlideN64 is crashing on the Nvidia Shield tablet. Not sure how many devices are impacted or if it's a Nvidia Shield specific issue. I tested on my phone (Galazy J7 Perx) with Mupen64Plus FZ and GlideN64 does work fine there.

Tested on the Retroarch Mupen64Plus core and on Mupen64Plus FZ for Android. Issue occurs on both, but Glide64 plugin works on Mupen FZ, and same goes for th

[2018-03-12 06:49] thecoreyburton commented on #1716
Thank you gonetz. The fix solves the issue I was experiencing.

[2018-03-12 08:27] gonetz commented on #1716
I'm not sure that this fix is safe and will not cause regressions in other games, thus it is not in master yet.

[2018-03-12 11:46] fzurita commented on #1748
@loganmc10 is that the case for you as well?

[2018-03-12 12:09] loganmc10 commented on #1748
No, I just tested the latest master of mupen64plus-ae on my Shield Tablet, no crashing. Additionally, the version of GLideN64 in RetroArch hasn't been updated in over a year, so I'm not sure how it would be related.

Maybe it is because of some specific setting that has been set?

[2018-03-12 12:50] Tasosgemah commented on #1574
Is there any difference for using HLE on WDC except for speed? The graphics and bugs seem the exact same, in fact i can't tell if the game is running in HLE or LLE mode. Is there a way to tell from the options?

[2018-03-12 12:53] fzurita commented on #1748
@gannon345 Are you able to send a crash report through Android with your name so that I know it's you? I'm not seeing any significant GLideN64 related crashes being reported.

[2018-03-12 13:08] AmbientMalice commented on #1574
What version of m64p are you using?

[2018-03-12 13:20] Tasosgemah commented on #1574
The latest as i'm posting this.

[2018-03-12 13:23] AmbientMalice commented on #1574
Where did you get it from?

[2018-03-12 13:25] Tasosgemah commented on #1574
The main site... about 30 minutes ago

[2018-03-12 13:29] AmbientMalice commented on #1574
Do you mean this? https://mupen64plus.org/ Because that hasn't been updated in almost three years. You have to specify whether you're talking about the official m64p which is woefully outdated, or one of the forks such as. https://m64p.github.io/

The thing about m64p is that some games are hardcoded to be LLE or HLE, and when GLideN64 adds support, the RSP mode overrides have to be updated. This

[2018-03-12 13:32] loganmc10 commented on #1574
I think he's using the right version. I also don't see any difference in graphics between HLE and LLE, the HUD elements still have glitches. The main difference is speed, although HLE tends to be less buggy so I wouldn't be surprised if there are fewer issues in HLE, but I haven't tested the game extensively, but this is all still off topic from the WIP builds...

[2018-03-12 13:36] olivieryuyu commented on #1574
Speed is the main point.

Bugs are not always related to microcode so what is valid in LLE can be valid in HLE.

The only bug is the missing coronas in game in both LLE and HLE.

[2018-03-12 13:41] AmbientMalice commented on #1574
The LLE version has constant geometry tearing. The most noticeable example is a constant horizontal line near your car.

That is true.

[2018-03-12 13:46] M-a-r-k opened #1749 "Game image upside-down with GlideN64-Fast, correct with GlideN64-Medium"
Emulator version 3.0.181 on Huawei G620S phone.

With GlideN64-Medium profile the game image is correct: the right way up matching the controller overlay. However with GlideN64-Fast, the game image appears upside-down.

[2018-03-12 13:52] gannon345 commented on #1748
How i get the crash report?

On Mar 12, 2018 6:53 AM, "Francisco Zurita" <notifications@github.com>
wrote:

[2018-03-12 14:00] fzurita commented on #1748
Android will give you the option to submit a crash report when an app crashes.

Although, what are the symptoms of the crash? Are you getting, "this app has stopped" or the emulation just exits?

[2018-03-12 14:17] gannon345 commented on #1748
Yeah, it's the generic "app has stopped" message, and occurs whenever I launch a game with one of the GlideN64 renderers. Retroarch crashes similarly if I use the Mupen64Plus core (but not the Mupen64Plus GLES3 or Parallel core).

I'm on 181, latest version as far as I know from the Play Store, and Retroarch 1.7.1 with the lateste version of the cores available.

I did the "send feedback" option,

[2018-03-12 15:02] fzurita commented on #1749
This is an issue with GPU drivers in your phone. Go to settings then display and chose the "Fix upside down screen" option.

[2018-03-12 15:05] fzurita commented on #1748
I wonder if LineageOS is properly supporting the Full GL mode. Please use the "Send feedback" option when you are near wifi. This will be very telling for me.

[2018-03-12 15:08] gannon345 commented on #1748
Will do.

[2018-03-12 15:34] M-a-r-k commented on #1749
Yep I know about that option. Just wondering, why it's only necessary for one GlideN64 profile but not another?

[2018-03-12 15:38] fzurita commented on #1749
I'm not quite sure. The "fast" just disables frame buffer emulation. With frame buffer emulation enabled, there is an extra FBO before a buffer gets put in the screen, so it probably has to do with that.

In the past, the "Fix upside down screen option" was needed for all profiles on affected devices. Maybe something we are doing now with frame buffer emulation makes it only needed when frame buff

[2018-03-12 22:10] retrobenny commented on #1713
Sorry for the delay but here is a video I already had recorded of the Airboarder 64 seizure flickering which happens on PJ64 2.4.0-455 as seen in the video.

[2018-01-30 15-38-43.zip](https://github.com/gonetz/GLideN64/files/1804737/2018-01-30.15-38-43.zip)

[2018-03-12 22:40] SuperToad64 commented on #1745
Yet again Trenavix saves the day! When I set the resolution to anything over 1600 x 1200 in windowed and fullscreen it does this:

![aspect ratio 1](https://user-images.githubusercontent.com/37228863/37312690-6a589804-2622-11e8-80d5-a6c8d86a24d5.png)

![aspect ratio 2](https://user-images.githubusercontent.com/37228863/37312696-6f0f50a4-2622-11e8-9f85-f49483dcc9cf.png)

So since Frame Buffer Emula

[2018-03-12 22:43] loganmc10 commented on #1745
Again, you shouldn't post links to illegal downloads (including the ROM hack) on a GitHub page

[2018-03-12 23:51] gannon345 commented on #1748
Okay, I sent feedback from it crashing with GlideN64 Fast, Medium, and Accurate. Hope it helps.

[2018-03-13 00:01] fzurita commented on #1748
I'm not seeing your crash report. If it doesn't show up soon, do you know how to capture a logcat?

[2018-03-13 00:15] gannon345 commented on #1748
Yeah. I can pull a logcat. It's probably gonna have a lot of junk you won't need. Anything specific I should be searching for in it?

[2018-03-13 00:17] fzurita commented on #1748
You can send me the whole thing, I don't mind parsing through it. But if you want to be more specific, search for '''name: ServiceStartArg  >>> paulscode.android.mupen64plusae.GameActivity <<<'''

[2018-03-13 00:18] gannon345 commented on #1748
Sent all three feedbacks (GlideN64 fast, med, accurate) from running a "restart" launch of Mario 64.

If you still need the logcat let me know and I'll dump that from adb.

[2018-03-13 00:18] fzurita commented on #1748
Lol, ok, try again.

[2018-03-13 00:20] fzurita commented on #1748
Ok, great, I got a huge dump of crash reports. I'll let you know if I need anything else.

[2018-03-13 00:33] fzurita commented on #1748
Ok, that's interesting. The libEGL library is crashing in the ```eglMakeCurrent``` call when we are initializing the video. Given that non-GLideN64 video plugins are working fine, my first instinct would be to say that your version of Android is reporting that full GL support is there, but it's crashing when we attempt to use it.

Did you recently update the OS? When did the issue start happening,

[2018-03-13 00:39] gannon345 commented on #1748
I'm not sure honestly. I can try reflashing the OS with an updated image if you think it'll help. I don't remember any issues prior to an update or two ago, but my timeline could be off. I flashed the Lineage OS ROM on 2/17, the day after that update released.

[2018-03-13 00:40] fzurita commented on #1748
I can give you a build from a couple of months ago, let me know if it works.

[2018-03-13 00:41] gannon345 commented on #1748
Okay. Just link it here or email me.

[2018-03-13 01:02] gannon345 commented on #1748
It crashes the same way. Must be the OS.

I'm gonna try flashing the latest update just in case.

[2018-03-13 01:04] fzurita commented on #1748
Ok, if that doesn't help, here is the EGL core dump. If you report tgis to the LOS team, you can point them here:

[code]

[2018-03-13 02:27] gannon345 commented on #1748
It was the OS. I've flashed it back to the stock ROM version 5.1. Working again. Lineage was a fun experiment, but this isn't the first issue I've had, so I think I'm done with it.

Thanks for the help, and you can probably close this issue.

[2018-03-13 04:12] gonetz commented on #1574
There is the thread for WDC discussion:
https://github.com/gonetz/GLideN64/issues/1685

[2018-03-13 04:20] gonetz commented on #1685
Hmm, that is interesting. Usually corona is depth buffer based effect. CPU analyzes values in depth buffer and decides: include coronas rendering to display list or not. ZSort microcode does not use depth buffer at all. How it should work? May be coronas rendered by CPU? Could you give me savestate from the place, where corona should be visible?

[2018-03-13 04:30] #1748 closed

[2018-03-13 11:43] olivieryuyu commented on #1685
You don't need a savestate: just let the intro runnning and you will see with Angrylion plugin the coronas within few mins appearing.

[2018-03-13 14:02] gonetz commented on #1749
In the past, FBO was not used when frame buffer emulation disabled. Currently FBO is always used. That allowed me to have MSAA regardless of frame buffer emulation. The difference between frame buffer emulation on/off is that when it is on, FBO rendered to main frame buffer with texture rectangle command, while when it off FBO can be put to main buffer with glBlitFramebuffer, if supported. The pro

[2018-03-13 14:40] Tasosgemah commented on #1685
There's also a lens flare effect in the last part of first track that is missing in both LLE and HLE. You can see it in Angrylion, when you exit the final tunnel.

[2018-03-13 15:35] fzurita commented on #1749
To really fix this issue, we would need a database of GPU driver versions that have partially working glBlitFramebuffer. I don't think it's worth the effort. The user can choose the existing workaround if they have an affected GPU.

[2018-03-14 14:44] gonetz commented on #1713
Yes, Air Boarder (J) flickers badly. It is not Public release 3.0 regression - Release 2.0 works the same.
Air Boarder (E) works ok.

[2018-03-14 17:43] retrobenny commented on #1713
So GLideN64 still doesn't like (J) region games all that much for some titles.
With (E) being 50hz,I was utilizing the (J) region to attempt a 60fps code since a long while back,and to see it break with flickering ruins my ability to search for codes on it using the debugger.

[2018-03-14 19:16] Kidboy17 opened #1750 "Kirby 64 - screen jumps in full screen."
I'm using Project 64 2.3.2.3 and the newest WIP of GLideN64 rev.7aeb1018.

Throughout the game, the screen slightly jumps up and down in a semi-fast manner. When using Glide64 for PJ64 : 2.3.2.3 this does not happen.

EDIT: Forgot to add that the misty/smokey effect that comes off the Dark Matter creature are pixelated and blocky. With Glide64 that comes with PJ64, the effect is much, much less bu

[2018-03-14 20:54] Kidboy17 opened #1751 "Mario Party 3 - Curtain Call Mini Game"
In Mario Party 3 mini game Curtain Call when choosing which character appeared, there is overlapping of the characters images. This has never been fixed with Jabo's, Glide or GlideN64.
![gliden64_marioparty3_001](https://user-images.githubusercontent.com/37382324/37430279-eb390482-278e-11e8-9dfe-2b8cf1e9e1f7.png)

[2018-03-14 20:59] loganmc10 commented on #1751
Duplicate of https://github.com/gonetz/GLideN64/issues/692

[2018-03-14 21:02] Kidboy17 commented on #1751
Ah ok. Thank you. This can be closed then if necessary.

[2018-03-14 23:40] Kidboy17 opened #1752 "Donkey Kong 64 - Missing Eyes"
The intro to Donkey Kong, when the Kongs are gathered, their eyes and are missing. Using Project 64 2.3.2 with latest WIP.
EDIT: Not present with Glide64 that comes with Project 64.

![gliden64_donkey_kong_64_000](https://user-images.githubusercontent.com/37382324/37436706-732153b0-27a6-11e8-9bbd-0b4dc3a89df5.png)

[2018-03-14 23:46] theboy181 commented on #1752
Monkey see, monkey do?

[2018-03-15 03:23] Kidboy17 opened #1753 "Paper Mario - Text error"
In the beginning of the game, after the first battle with Bowser when you meet the star spirits, their text is messed up. Using Project 64 with newest WIP.

![gliden64_paper_mario_000](https://user-images.githubusercontent.com/37382324/37442785-76d859b2-27c5-11e8-8798-e1b84d6ea300.png)

This is the text when using Glide64 that comes with Project 64.
![glide64_paper_mario_01](https://user-images.gi

[2018-03-15 03:28] loganmc10 commented on #1753
Do you have any non-default settings? I think that text requires noise emulation to be enabled

[2018-03-15 03:43] Blue-Ike commented on #1752
See no evil.

[2018-03-15 03:48] loganmc10 commented on #1752
Looks ok to me (tested mupen64plus):

![donkey_kong_64-001](https://user-images.githubusercontent.com/848146/37443360-5898186e-27d1-11e8-844b-0f0ae14a0951.png)

[2018-03-15 03:53] loganmc10 commented on #1753
This is what it looks like on my PC:

![paper_mario-002](https://user-images.githubusercontent.com/848146/37443465-fc302106-27d1-11e8-8ead-952d46784885.png)

A single screenshot doesn't really do it justice because it is a noise effect and the spots are moving around constantly.

[2018-03-15 04:37] theboy181 commented on #1752
Logan!!  Your comment about it working in mupen is as helpful as mine. ;)

[2018-03-15 05:00] Kidboy17 commented on #1752
So it's just an issue with Project 64 then?

[2018-03-15 05:03] theboy181 commented on #1752
It’s an issue with project 64 video. I doubt that he tested it on mupen.

[2018-03-15 05:04] Kidboy17 commented on #1753
I've set the Bilinear filtering to N64 stlye 3 point, enable per-pixel lighting and render 2d elements in N64 resoultion. Everything else is default.

And noise is enabled.

[2018-03-15 05:05] Kidboy17 commented on #1752
No, i did not test it on Mupen. Never used Mupen, been using Project 64 for years now.

[2018-03-15 05:27] theboy181 commented on #1752
Logan didn’t test it on mupen is what I meant. Pj64 doesn’t have the same plugin spec as Mupen. My suggestion is you download GLideN64 3.0 and wait for pj64 developers to finish project 64 video. (Refactored GLideN64)

[2018-03-15 06:16] Kidboy17 commented on #1752
Ok will do. Is GLideN64 3.0 a more stable build than the newest WIP of GLideN64?

[2018-03-15 07:08] Kidboy17 opened #1754 "Legend of Zelda OoT- vanishing road texture"
Using Project 64 2.3.2.3 with latest GLideN64 WIP. As soon as you leave Kokiri Forest and start on the dirt path of Hyrule field, the dirt path starts to disappear behind you. I have tried with default settings and with non-default and still happens. Here are some screen shots.

![gliden64_the_legend_of_zelda_002](https://user-images.githubusercontent.com/37382324/37448742-dbd6d392-27e4-11e8-8e71-

[2018-03-15 08:42] AmbientMalice commented on #1754
Isn't this how a real N64 behaves?

[2018-03-15 08:57] OldGnashburg commented on #1754
I've recently played OoT on my Nintendo 64 on a CRT, it does exist but it isn't this pronounced and you literally have to f*ck around with the camera to see it behind you.

[2018-03-15 09:39] gonetz commented on #1753
per-pixel lighting is useless for this game, but it should be harmless too.
"render 2d elements in N64 resoultion" most likely causes the problem.

[2018-03-15 12:05] loganmc10 commented on #1752
What? That screenshot I posted was from mupen64plus. Also project64-video is a refactoring of Glide64, not GLideN64. I'm not sure what you're trying to say

[2018-03-15 13:07] loganmc10 commented on #1754
Duplicate of https://github.com/gonetz/GLideN64/issues/541

[2018-03-15 13:14] theboy181 commented on #1752
Dis you test project64-video on mupen? I was also under the impression that project 64 video was refactor of GLideN64. But no GUI.

[2018-03-15 13:17] loganmc10 commented on #1752
No I tested GLideN64 on mupen64plus, the big report is saying that they have no eyes when using GLideN64.

And no, Project64-video is Glide64. I think zilmar had plans of creating a non-Qt GUI for GLideN64, but that is a separate thing

[2018-03-15 13:39] theboy181 commented on #1752
I see now. I totally didn’t read that right. Sorry to the both of you.

This issue could actually be because of the bones displacement bug caused by an FPU math error. The error exists in older PJ64, and other emulators.

Zilmar fixed it in 2.4 and Mupen fixed it after the fix was made public. (possibly why Logan stated it works)

Can you test with latest PJ64? There was also a cheat code floating

[2018-03-15 13:45] theboy181 commented on #1754
I have seen this on the real hw. I am not sure if this is the same exact issue but it can happen. It’s more noticeable in HLE I would imagine.

[2018-03-15 14:25] loganmc10 commented on #1754
It can happen on real HW, but it is much more severe in GLideN64, especially at higher resolutions. In fact, I can't get this to happen at 640x480, but if I switch to full screen, it happens constantly.

@gonetz I believe there is a better way to fix this than glPolygonOffset. See this commit: https://github.com/gonetz/GLideN64/pull/1747/commits/d13d2153dbb5cd750d2efe72b48be9e4a64bcfe9

Instead of

[2018-03-15 15:33] loganmc10 opened #1755 "NEON_OPT makes spinning Nintendo logo invisible in GoldenEye"
At the opening sequence of GoldenEye, there is a spinning "Nintendo" logo. NEON_OPT makes this disappear.

Enabling HWLighting fixes the problem.

Also, enabling this code:

https://github.com/gonetz/GLideN64/blob/master/src/gSP.cpp#L479

Also fixes the problem, so I assume the problem is in the gSPLightVertex_NEON function

@gizmo98

[2018-03-15 17:08] gonetz commented on #1752
I can't reproduce that bug with Project 64 2.3.2

[2018-03-15 17:22] gizmo98 commented on #1755
I will take a look later.

[2018-03-15 18:07] Kidboy17 commented on #1752
Yeah I can test it with a newer PJ64. I hear there is a 2.4 floating around but I'm not sure where to get it.

[2018-03-15 18:15] Kidboy17 commented on #1753
@gonetz You are completely correct. "Render 2d elements in N64 resolution" is the option that causes the error.

[2018-03-15 18:21] Kidboy17 commented on #1750
To be honest, I don't know if the first picture or the second picture is the "correct" way it is suppose to look. I find videos and screen shots of both so i have no idea now.

But the screen twitching/jumping is definitely present with the newest WIP of GLideN64.

[2018-03-15 20:04] Kidboy17 commented on #1750
So I found two more graphical errors and also experienced a major system crash twice which resulted in losing all my keyboard shortcuts and having me to reinstall Project 64.

First the graphical errors.
The different colored leaves on the ground during the movie, a few will appear and disappear rapidly. I circled the one that is most noticeable. It's hard to see, so I have included the save state

[2018-03-15 20:06] theboy181 commented on #1750
Is it possible that your video card doesn’t meet the GLideN64 OpenGL hw requirements?

[2018-03-15 20:07] Kidboy17 commented on #1750
My graphics card is a Nvidia Geforce GTX 780 Ti with 4095mb of Vram

[2018-03-15 22:32] Kidboy17 opened #1756 "Mario Kart 64 - Minor graphic glitches *Update*"
Noticed a couple glitches while playing Mario Kart 64. I'm using PJ64 2.3.2 with the newest GLideN64 WIP on default settings.

I circled in red the errors. As you drive closer, they disappear.
![mariokart1](https://user-images.githubusercontent.com/37382324/37494197-000a6cd0-2865-11e8-8129-6b3f737eff66.png)
![mariokart2](https://user-images.githubusercontent.com/37382324/37494200-058fc29a-2865-11e

[2018-03-15 23:08] theboy181 commented on #1756
The black lines on the 2d characters are normal(known issue) but the other issues you are reporting are starting to look hw repeated. Pm me on pj 64 and we can look a little closer if you want.

[2018-03-15 23:58] oddMLan commented on #1752
It's very possible that it is a shader cache issue. Does disabling shader cache make any difference? @Kidboy17

[2018-03-16 00:04] oddMLan commented on #1752
Under GLideN64 settings, under "Emulation", uncheck "Use shader cache for enhanced performance"... sorta like that. You can't miss it.

[2018-03-16 00:13] Kidboy17 commented on #1752
When I disable them, the eyes are back.

[2018-03-16 00:32] oddMLan commented on #1752
Okay, can you go to the Project64 install folder, under Plugins. Find one folder called "shaders", delete it. Re-enable Shader cache under "Emulation" on GLideN64. Restart the emu and see if that fixes the issue for good.

[2018-03-16 00:52] Kidboy17 commented on #1752
No need because I don't have problems with the eyes anymore. When i disabled it, the problem was fixed. I enabled the shader cache again and the eyes did not disappear. I even messed with the settings and the eyes did not disappear.

[2018-03-16 01:04] oddMLan commented on #1752
Okay, your shader cache got corrupted somehow. Proably a driver update that broke it. You can close this issue.

[2018-03-16 01:10] theboy181 commented on #1752
YAY!! Oddman ;) (oddMLan)

[2018-03-16 02:14] loganmc10 commented on #1755
Another game that I believe is affected is Beetle Adventure Racing. The colours of the cars is all wrong unless hardware lighting is enabled

![beetle_adventure_rac-001](https://user-images.githubusercontent.com/848146/37500151-7456947e-288d-11e8-8227-88c7c36d7dcf.png)

Should look like this:

![beetle_adventure_rac-000](https://user-images.githubusercontent.com/848146/37500156-7f68dfe8-288d-11e8-

[2018-03-16 07:02] gizmo98 commented on #1755
I have always tested every new neon function with beetle adventure racing. I have never seen wrong colors. DotProductMax4FullNeon() could be problematic. Some clobber registers are missing. Here is a commit with all missing registers (not tested yet):
https://github.com/gizmo98/GLideN64/commit/c9bf51d584c542769995b3a1cc963cb214eba6d3

[2018-03-16 07:45] mudlord commented on #1731
Doing so would mean a rewrite in many parts. IIRC texel addressing in shaders was also a concern, to use fixedpoint/integer math for texture coordinates, using the same integer based math as the RDP/angrylion.

I'm seriously wondering if coming out of retirement for me and working on N64/GBA emulation again is a good idea. Seems some things could be helped on.

[2018-03-16 09:36] Gillou68310 commented on #1731
![time-to-come-out-of-retirement](https://user-images.githubusercontent.com/2852068/37513616-db7e8936-2905-11e8-81cd-4d750bab6b32.jpg)

[2018-03-16 14:24] tony971 commented on #1752
I usually delete the cache when updating GLideN64 for similar reasons. How hard would it be to implement automatic cache deletion if it was created by a different revision?

[2018-03-16 15:17] theboy181 opened #1757 "VR Headset Crowd funding request"
@gonetz I hope that you will consider adding VR support to your project list. I would love to see you do a full Crowd funded campaign for VR support in GLideN64.

[2018-03-16 16:09] oddMLan commented on #1752
It is already doing that when the shader cache version changes. Sometimes they do a certain change that should cause a version bump and forget to update that number, causing issues. Most likely not related to that, but a driver update, which broke the cache made with the old driver.

Anyway, if the issue is solved the issue should be closed.

[2018-03-17 03:15] #1752 closed

[2018-03-17 03:15] #1753 closed

[2018-03-17 03:16] #1751 closed

[2018-03-17 11:41] gizmo98 commented on #1755
Strange. Everything looks good under Raspbian Stretch with GCC 4.9.
Please test if this commit fixxes the problem:
https://github.com/gizmo98/GLideN64/commit/13897968e74c0c43bef26baaa7e77f085cd58974
![img_8046](https://user-images.githubusercontent.com/6412699/37554970-84dc6a2c-29e0-11e8-8c41-3d11f4b7ee4a.JPG)

[2018-03-17 14:06] loganmc10 commented on #1755
That fixes the issue with Beetle Adventure Racing, excellent work! However the issue with the missing Nintendo logo in GoldenEye is still there

[2018-03-17 14:41] olivieryuyu commented on #1259
Working on Battle of Naboo. It is clear that the technic used for ground generation is a heighmap. From colors Y is generated with X and Z provided by the CPU.

Still amazed what Factor could do with microcode.

[2018-03-17 15:40] #1615 closed

[2018-03-17 16:47] gonetz commented on #1757
I doubt that such campaign will be successful. Even if it will, I have no time resources to work on it. I barely can fix remaining issues.

There was a PR regarding VR support:
https://github.com/gonetz/GLideN64/pull/1552

May be somebody can take it and make it properly. I don't have VR Headset to test.

[2018-03-18 08:35] OldGnashburg commented on #1754
@theboy181 This does technically happen on hardware, but it us WAY less noticeable and you have to manipulate the camera to notice it, and it doesn't make such large chunks of the texture disappear. So this is only partially accurate.

[2018-03-18 18:58] gizmo98 commented on #1755
Can you test this branch? I can see the "Nintendo" logo on my pi but neon asm input register definition seems to be incomplete.
https://github.com/gonetz/GLideN64/compare/master...gizmo98:neon-fixes2

[2018-03-18 22:41] StenApp commented on #1259
@olivieryuyu
Is it similar to Rogue Squadron's terrain generation system?

[2018-03-19 00:07] mudlord commented on #1731
![43d38345e66361724153100b5c9938e4](https://user-images.githubusercontent.com/35237848/37572870-b1381d74-2b65-11e8-9f3c-afbcf499bfce.png)

[2018-03-19 04:23] pdrome opened #1758 "GlideN64 Won't Show FPS, VIS, Percent, or Others"
Seems like the font routing isn't working with Ubuntu 16.04.03 and 16.04.04. Maybe others as well.

Bisected to gonetz/GLideN64@30f56c9 by @Jj0YzL5nvJ.  Here is the original issue in m64p:

m64p/mupen64plus-GLideN64#62

[2018-03-19 05:19] loganmc10 commented on #1758
mupen64plus has an OSD, and they just include the ttf file with the project (https://github.com/mupen64plus/mupen64plus-core/tree/master/data). I'll probably submit a PR tomorrow to have it search for a "font.ttf" file in the shared data directory before (or after) searching in the system paths

[2018-03-19 06:54] olivieryuyu commented on #1259
No really.

[2018-03-19 07:14] gonetz commented on #1758
@pdrome Yes, /usr/share/fonts/liberation fonts are not installed on Ubuntu by default.
I reverted 30f56c9: ed223c9

[2018-03-19 15:03] gonetz commented on #1749
I agree.

[2018-03-19 15:03] #1749 closed

[2018-03-19 16:18] loganmc10 commented on #1755
Now I'm not sure, now at the "One Player" screen, I get a completely solid color background, with or without your change. The GoldenEye Nintendo logo is still missing with HW lighting though.

Maybe @fzurita can confirm the issue with Beetle Adventure Racing?

@gizmo98 can you try compiling with Clang on the Raspberry Pi? I am testing this on Android which is using clang to compile everything.

[2018-03-19 18:42] ulfman commented on #1457
Hello :)

Crop the Image to fill the entire Screen is working nice with US (NTSC) Games. But what is with EUROPE (PAL) Games? Doesnt work at all. Can you please fix this?

[2018-03-19 21:05] loganmc10 commented on #1755
Ok I figured out the problem, it's different when compiling for debug / release.

For GoldenEye, with both debug and release, no Nintendo logo.

For BAR, with debug build, car colour is good, menu background is missing. With release build, car colour is messed up, menu background is there.

This is all with clang/Android.

[2018-03-19 21:14] gizmo98 commented on #1755
I have updated my branch some minutes ago. I have added more input register definitions. Can you try again?

[2018-03-19 21:31] loganmc10 commented on #1755
I get:

[code]

[2018-03-19 21:45] gizmo98 commented on #1755
GCC seems to be much more tolerant. There was not even a warning. I have replace "+r" with "=r".

[2018-03-19 22:03] loganmc10 opened #1760 "Integer Overflows in DepthBufferRender.cpp"
While trying to debug a different issue, I came across this in ubsan (undefined behaviour sanitizer)

[code]

This happens in almost every game.

[2018-03-19 22:19] loganmc10 commented on #1755
No difference on my phone, same issues remain

[2018-03-20 02:25] pdrome commented on #1758
Problem solved. Thanks!

[2018-03-20 02:25] #1758 closed

[2018-03-20 18:32] gizmo98 commented on #1755
I added one more commit. Clang seems to be sensitive if Condition code register is missing.  https://github.com/gonetz/GLideN64/commit/ac76278df48695268c07ecbd8939f8eb7604ea05

[2018-03-20 20:06] loganmc10 commented on #1755
Still nothing unfortunately, and https://github.com/gizmo98/GLideN64/commit/70bc53af72aeee5e4e221a17ced596b3f6ede26c actually causes most of the graphis to disappear.

[2018-03-20 21:57] gizmo98 commented on #1755
Fixed. I convert everything to Neon intrinsics. Neon intrinsics are more compatible and can be used with aarch64 as Welle. I will report when conversion is done.

[2018-03-21 16:15] gonetz commented on #1574
Current master:
https://drive.google.com/file/d/1LWYLP6Ydk_HYjfEwBVwXtOxlH4QFjCMg/view?usp=sharing

Fixes for "Render 2D elements in N64 resolution" mode.

[2018-03-21 16:41] gonetz commented on #1750
1. Screen shakes indeed in fullscreen. I don't see that shaking in windowed mode. I'll try to find, what's wrong.
2. Pixelated noise effect is right. You may compare with angrylion's plugin. I could not make noise properly when I worked on Glide64.
3. The issue with colored leaves is depth compare issue. Enable "Frame buffer"=>"Enable N64-style depth compare" to fix it.
4. " when you enter and exi

[2018-03-21 18:17] theboy181 commented on #1740
fixed by current WIP! Great Work @gonetz

[2018-03-21 18:17] #1740 closed

[2018-03-21 18:20] theboy181 commented on #1725
Tested with Current Master. Still broken when set to higher resolutions.

[2018-03-21 18:21] Nerrel opened #1761 "Texture cache fails to save to disk"
Using Project64, current dev build (I've patched this to enable it to use 4GB of RAM instead of 2GB)
Windows 10x64

I'm working on a texture pack that currently takes up 350mb on disk.  This ends up using an entire Gb of memory when loaded, so it's important to use **save texture cache to hard disk** and **compress texture cache** to keep the size down and avoid long loads.

The textures I've load

[2018-03-21 18:23] theboy181 commented on #1710
fixed in current master!

[2018-03-21 18:23] #1710 closed

[2018-03-21 18:24] theboy181 commented on #1709
Fixed in current master

[2018-03-21 18:24] #1709 closed

[2018-03-21 18:24] #1701 closed

[2018-03-21 18:25] #1560 closed

[2018-03-21 18:28] #1757 closed

[2018-03-21 18:29] theboy181 commented on #1725
Can anyone else confirm this bug on  NVIDIA gfx card?

[2018-03-21 19:06] loganmc10 commented on #1725
Yes I can reproduce this in mupen64plus + Windows + Nvidia. It's not the smoke that is going the wrong way, the track is going the wrong way, and yes, only at higher resolutions

[2018-03-21 19:07] theboy181 commented on #1725
Thanks.. its an odd bug.. do you have ATI to test against ?

[2018-03-21 19:10] loganmc10 commented on #1725
I just tested Linux + VMware and saw the exact same issue, I don't think it's GFX card related. I tested using 4X native resolution

[2018-03-21 19:11] theboy181 commented on #1725
wonder why @gonetz cant reproduce it then ?

[2018-03-21 20:29] Kidboy17 commented on #1750
@gonetz Thank you for getting back to me! You were correct about the Frame Buffer. It corrected the leaves. Does this feature have any negative effects?

I compared it with Angrylion and it is the same effect on GLideN64 so I assume its a correct effect then. Here is a screenshot

![untitled](https://user-images.githubusercontent.com/37382324/37735612-cfd92ce4-2d0b-11e8-9ca9-ab5b4a81b8fa.png)

[2018-03-21 20:53] Kidboy17 commented on #1731
This is probably the same issue that I was experiencing on Zelda OoT. Many places in the game have these misalignments or seams. Jabu-Jabu's belly is very noticeable because it creates these yellow lines.
![untitled](https://user-images.githubusercontent.com/37382324/37736756-f792f9e2-2d0e-11e8-8731-9ef7b6d56225.png)

[2018-03-22 02:53] gonetz commented on #1750
"Enable N64-style depth compare" has at least two drawbacks:
* it is incompatible with MSAA
* plugin works slower when it is enabled. It may run full speed still.

[2018-03-22 03:46] gonetz commented on #1696
Closed. Please reopen if the problem still exists.

[2018-03-22 03:46] #1696 closed

[2018-03-22 10:41] gonetz commented on #1754
@loganmc10 Could you make commit which applies this "Emulate PolygonOffset" when write to gl_FragDepth is supported? After merge of "Disable clipping using Vertex shader" PR of course.

Also, since it is depth compare issue, "N64 depth compare" option can help there. Have you tried it?

[2018-03-22 10:45] gonetz commented on #1680
Please reopen if problem still exists.

[2018-03-22 10:45] #1680 closed

[2018-03-22 10:52] gonetz commented on #1689
Please reopen if problem still exists

[2018-03-22 10:52] #1689 closed

[2018-03-22 10:54] #1716 closed

[2018-03-22 18:08] loganmc10 commented on #1754
It still happens with N64 depth compare, but it's farrr less severe at high resolutions. Probably a lot closer to a real N64, since it sounds like it happened on occasion there as well.

[2018-03-22 21:36] Kidboy17 opened #1762 "Bomberman 64 - Various Issues"
Hello again! Playing Bomberman 64 on Project 64 2.4 with newest WIP build, default settings, I found various issues with the game in the first two levels

The water surrounding the first and second level has these dots all over. I compared it to Angrylion andthe plugin also has it there which made me believe it was part of the game until I found a video taken from an actual N64 and Bomberman cartr

[2018-03-23 08:45] Jj0YzL5nvJ commented on #159
Fixed by 7aeb1018ea19c29389fcc2839033d136453893ec

[2018-03-23 09:17] olivieryuyu commented on #159
Oh Nice

[2018-03-23 14:52] #1211 closed

[2018-03-23 15:27] loganmc10 commented on #1754
@gonetz https://github.com/gonetz/GLideN64/pull/1763

[2018-03-23 15:53] fzurita commented on #1762
A lot of these sound like CountPerOp or Counter Factor issues, so core issues. Not sure about the water though.

[2018-03-24 11:03] gonetz commented on #1762
All this issues but water are not graphics plugin related.
Since angrylion's plugin also has the water issue, it is most likely core-related too.

[2018-03-24 11:04] gonetz commented on #1754
closed as duplicate.

[2018-03-24 11:04] #1754 closed

[2018-03-24 11:12] gonetz commented on #1725
I set 4X native resolution and 8X native resolution - the problem is not reproduced for me.

@loganmc10 if you can reproduce the problem, could you find the regression commit?

[2018-03-24 11:49] #159 closed

[2018-03-24 12:18] gonetz commented on #1741
I got that bug with health bar. Original bug with pause screen is not reproduced for me.
Since the problem lasts just for one-two frame, it will be hard to catch and fix.
It can be a core issue as well.

[2018-03-24 12:32] gonetz commented on #1707
Is it some specific place, which has that glitch? I started the game in two players mode, no issues.

[2018-03-24 12:34] gonetz commented on #1663
@fzurita Is the problem still actual? I don't have problems like this.

[2018-03-24 12:42] fzurita commented on #1663
I haven't tried reproducing it. I'll close it for now.

[2018-03-24 12:42] #1663 closed

[2018-03-24 12:45] gonetz commented on #1613
@remyabel I setup Travis CI for Linux and MacOsX. README.md has links to build status tokens.

I would like to setup zilmar-spec build too. It can be done, if there will be a server to keep GLideNUI.lib. I don't want to put that lib to the project because it is 370MB debug+release. It is possible to setup build script to load the lib from the server before build starts. I just don't know, where to

[2018-03-24 13:51] angrylion7 commented on #1762
Just checked on my real N64, and the water certainly matches my plugin perfectly, unless VI emulation was disabled by the OP for some reason or something like that, and yes these dots are numerous. I would say these dots look quite different on these GlideN64 screnshots, but that may be due to incomplete VI emulation in GlideN64 or something else. I don't know why this youtube video represents the

[2018-03-24 14:35] gonetz commented on #1762
Thanks!
So, no reported issues are actually graphics plugin related.
As I understand, there is one issue: color of shimmering dots in water is not quite right.

[2018-03-24 14:36] gonetz commented on #1663
Ok. Please reopen if the problem still presents.

[2018-03-24 14:38] gonetz commented on #1760
Number of such bugs should reduce with e3bd9a0ccf

[2018-03-24 15:09] rez- commented on #1725
by the way, same result with Intel

[2018-03-24 16:36] theboy181 commented on #1741
can it still be a core issue if id is not happening on other plugins?

[2018-03-24 16:37] theboy181 commented on #1721
I think this is related to the other issues that I have mentioned like Virtual Chess, and Roadsters Trophy.

[2018-03-24 16:38] theboy181 commented on #1707
been a while since I posted that, I will double check but that looks like 2p mode, may have been the demo.

[2018-03-24 19:51] theboy181 commented on #159
Sweet!!  Now MP fix?

[2018-03-24 20:06] Kidboy17 commented on #1762
Ah well, don't I feel foolish then. That's what i get for using a poor quality video. Glad to know the other issues are not video plugin related.

[2018-03-24 20:20] oddMLan commented on #1731
@Gillou68310 Why did you feel the need to mock/ridicule someone over wanting to come back to the N64 scene? Serious question. I don't think there's anything to gain out of being cynical, and most certainly brings nothing of value to the ongoing discussion.

[2018-03-24 21:39] mudlord commented on #1731
@Gillou68310  :middle_finger:

Seriously. You Mupen people are all alike.

[2018-03-24 23:20] Gillou68310 commented on #1731
Well I guess there's a misunderstanding here, I was actually encouraging @mudlord to come out of retirement, nothing else. I had no intention to mock or ridicule anyone. I apologize if I did so.

[2018-03-25 05:56] LegendOfDragoon commented on #1731
It's easy to misinterpret posts like these :smile: . The picture shows a guy laughing, so it does looks kinda mean. I like to give people the benefit of the doubt, so I didn't jump to any conclusion.

Lol at downvoting.

@mudlord I think you should try if that's what you think you will have fun doing. Do you, my man. You have my support :smiley: !

Indeed this may be able to fix these sort of prob

[2018-03-25 09:38] gonetz commented on #1731
I would like to see at least a proof of concept.

[2018-03-25 18:39] mudlord commented on #1731
Funny, what makes you think I would work with you?

[2018-03-25 18:52] loganmc10 commented on #1731
Lol real classy...

[2018-03-25 19:56] oddMLan commented on #1731
@Gillou68310 Huh... I jumped the gun too quick on you, sorry. But to be fair that reaction pic was a little confusing.

Then what are you doing here?

[2018-03-25 20:03] gizmo98 commented on #1755
@loganmc10
I have converted all functions. Could you test this branch?
https://github.com/gonetz/GLideN64/compare/master...gizmo98:neon-fixes2

[2018-03-25 20:38] fzurita commented on #1755
I just tried it, the Nintendo logo is still black for GoldenEye. Does it work in your end with this version gizmo98?

[2018-03-25 20:40] vadosnaprimer commented on #1731
This just gets more confusing every day.

[2018-03-25 20:45] gizmo98 commented on #1755
@fzurita
I thought it is black. It looks like this: https://m.youtube.com/watch?v=TpYocIwoiYM. Logan wrote it disappears.

[2018-03-25 20:47] fzurita commented on #1755
Yes, that's what I meant, the whole screen is black and the spinning logo is not visible.

[2018-03-25 20:52] gizmo98 commented on #1755
Ok. It works on my end then. Which Rom version are you using?

[2018-03-25 20:53] fzurita commented on #1755
A known good dump of the US version.

[2018-03-25 20:57] fzurita commented on #1755
And I can confirm disabling all the neon optimizations does fix it.

[2018-03-25 21:06] mudlord commented on #1731
@loganmc10

Wow, you are one to talk.

[2018-03-25 21:07] fzurita commented on #1755
I left the neon optimizations on, but disabled ```-ffast-math``` as a compiler option and that fixes it. I have the feeling it's related to that compiler flag.

[2018-03-25 21:44] vadosnaprimer commented on #1731
@mudlord Please don't get upset by occasional nonsense, I'm sure you know the amount of people that **actually need this fix** is hundred times bigger than that of bandwagon jumpers. I'm not frequent here, but in the place I come from we use this new plugin super intensely (tasvideos 4K encodes). It's the most encoder-friendly, because it has the least bugs of all the n64 plugins. Yet at various r

[2018-03-25 22:00] mudlord commented on #1731
Its not being occasional, its been constant and this is the straw that broke the camel's back.

[2018-03-25 22:08] vadosnaprimer commented on #1731
Why should this end so terribly D:

[2018-03-25 22:40] fzurita commented on #1755
@gizmo98 I think you should still make a pull request since the intrensics version is better.

[2018-03-25 22:59] Jj0YzL5nvJ commented on #1731
At this rate, we are more likely to see a good and enhanced PS5 emulator than one on the N64 emulation side T.T

[2018-03-25 23:09] AmbientMalice commented on #1731
It would prove you're not an emotionally fragile crybaby who talks a big talk but never finishes projects because he gets super angry about criticism on /emugen/ EVERY... SINGLE... TIME.

[2018-03-26 01:07] Jj0YzL5nvJ opened #1764 "Space Station Silicon Valley - Multiple issues"
This game has many broken effects and details, some of them you don't notice them until you see the images in succession.

https://imgur.com/a/MwBwO
https://imgur.com/a/IeBOi
https://imgur.com/a/2EUDC

-  Textures that are only visible from camera angles near the edges of the screen.
-  Details that are only visible by deactivating LOD, the game incorporates its own "LOD", similar to the one used

[2018-03-26 01:32] mudlord commented on #1731
@AmbientMalice

Is that the best you can fucking do? You can do better insults than that. At least accuse me of murder or something.

[2018-03-26 01:38] theboy181 commented on #1731
@mudlord Now you have to take that challenge!  I think ambient thinks insulting you will get you to release something.  Kinda puts you in a hard spot if you pay attention to stuff like that, dosn't it?

[2018-03-26 01:41] mudlord commented on #1731
@theboy181

Will you kindly shut the fuck up?
https://pastebin.com/gEztBW0H

[2018-03-26 04:53] gonetz commented on #1731
@mudlord

Proof of concept is a hardware render, which can work in HD resolution without "3D Object Misalignment" issues. All videos of cen64 I saw were low-res.

[2018-03-26 06:41] Gillou68310 commented on #1731
@oddMLan yes I see it now, next time I'll be more carefull before taking the first picture on google.

[2018-03-26 10:28] olivieryuyu commented on #1764
would you please provide savestates?

The "LOD" issue seems to be quite valid.

[2018-03-26 11:51] Jj0YzL5nvJ commented on #1764
¬¬u
It's the first level ...whatever: https://0x0.st/sB3c.zip

[2018-03-26 12:03] loganmc10 commented on #1760
Oh ok I'll rerun the test soon

[2018-03-26 12:21] hissingshark opened #1765 "Advertise the GLES2 macro"
Hi,

I've been building on the Vero4k (Amlogic s905x box running OSMC/debian).

My platform is GLESv2.  I could only build by using `-DEGL=On` and an unadvertised macro `-DGLES2=On`.  The `readme` and `CMakeLists` make no mention of this.  I just found it when going through the source to debug.  Might be worth a mention in those places to aid the unwary in future.

I hope that's helpful to you dev

[2018-03-26 12:25] loganmc10 commented on #1765
What happens if you build without -DGLES2=On? You shouldn't need that to get it working with GLES2, the Android version supports GLES2 without doing that.

[2018-03-26 14:04] loganmc10 commented on #1755
Ok I'll close this since it was related to a compiler flag, but I would agree that a PR for the code changes would still be good anyway, an arm64 version of mupen64plus-ae will probably materialize within the next year or two, so if these changes will make the NEON optimizations compatible with arm64 that will be worthwhile

[2018-03-26 14:04] #1755 closed

[2018-03-26 14:14] SwooshyCueb commented on #1731
I have been noticing this issue a little in DK64 as well

[2018-03-26 14:26] loganmc10 commented on #1760
Here is what I see now (the first error was there before, but I omitted it from the output to focus on DepthBufferRender):

[code]

[2018-03-26 16:43] loganmc10 commented on #1725
@gonetz I tried to bisect this. It broke sometime during the graphics refactoring. It's very hard to pinpoint because many of those commits don't compile or produce a black screen, etc. I tested a commit from Dec 28, 2016 and it worked, and by Feb 2, 2017 it was broken. So it was sometime in between there, but it will probably be very hard to pinpoint the exact spot.

[2018-03-26 17:06] fzurita commented on #1725
@loganmc10 Can you run the "undefined behaviour sanitizer" against this?

[2018-03-26 17:33] loganmc10 commented on #1725
Nothing unusual with this game happens, just a couple messages related to the Depth Buffer, same as every other game

[2018-03-26 18:51] hissingshark commented on #1765
`echo $CFLAGS`

`cmake -DEGL=On -DMUPENPLUSAPI=On -DVEC4_OPT=On -DNEON_OPT=On -DCRC_ARMV8=On -DUSE_SYSTEM_LIBS=On ../../src/`

`make`

Don't know why it's trying to include `gl.h` when I'm building for EGL.  That's why I went looking for include macros and found the GLES2 ones.

[2018-03-26 19:55] fzurita commented on #1765
You are right, that should not be getting included. The GLES2 macro should not be getting included anywhere because the codes EGL, so this sounds like a mistake in the code.

[2018-03-26 19:57] loganmc10 commented on #1765
I am working on fixing it. GLideNHQ still has direct references to OpenGL names/types. I am refactoring it to use the Graphics backend system instead, I'll submit a PR soon

[2018-03-26 20:45] Kidboy17 commented on #1731
I believe this issue is in most, if not all of the 64 games. Some games are much more noticeable than others.

[2018-03-27 02:21] justinmichaud commented on #1757
@gonetz I have some time before school starts up again. I can take another crack at getting the VR support to work, if you let me know what you would and would not be willing to merge.

Cheers!
Justin

[2018-03-27 03:05] gonetz commented on #1757
As I understand, VR support from graphics plugin side is stereoscopic rendering.
Thus, I would like to see general support for stereoscopic rendering, with little-to-none changes on front-end side.

[2018-03-27 06:50] Jj0YzL5nvJ commented on #1725
I can reproduce this on Xubuntu 16.04.4 LTS with nouveau (Mesa 17.3.6) using mupen64plus (CLI) **by changing the resolution to 1280x960**.

[2018-03-27 17:25] olivieryuyu commented on #1725
so you mean the behavior is resolution related?

[2018-03-27 17:27] loganmc10 commented on #1725
Yes it happens at high resolutions only

[2018-03-27 20:38] hissingshark commented on #1765
I can confirm that this now building for me with `-DEGL` without including the `-DGLES2`.
Good stuff, thank you.

However on actually testing the plugin it causes a segmentation fault.  This I had hoped would be resolved by building the "proper way", but unfortunately not.  I've tried gradually reducing the options I passed to cmake until I reached a minimum of
`cmake -DEGL=On -DMUPENPLUSAPI=On -D

[2018-03-27 20:42] loganmc10 commented on #1765
You'll have to use gdb to produce a backtrace, it should tell you where the segfault is happening.

[2018-03-27 21:07] loganmc10 commented on #1765
This is happening because your OpenGL libraries are in a different spot than usual (it looks like ```/opt/vero3/lib```)

If you look here:

https://github.com/gonetz/GLideN64/blob/master/src/Graphics/OpenGLContext/GLFunctions.cpp#L185-L189

https://github.com/gonetz/GLideN64/blob/master/src/Graphics/OpenGLContext/GLFunctions.cpp#L8

You can see what we've done for the Raspberry Pi and the ODroid.

[2018-03-27 21:27] hissingshark commented on #1765
Many thanks for the direction!  Looks promising.  I shall get on that.

[2018-03-27 22:29] hissingshark commented on #1765
Well that was easy enough.  You were right about the required path and I now have a `-DVERO4K` option to give cmake, but alas there is a new seg fault as follows.

[2018-03-27 22:49] loganmc10 commented on #1765
Ok I know what the issue is but I'm not in front of my computer now, I can fix it tomorrow.

For now, if you look in your mupen64plus.cfg file for am option called "EnableShadersStorage" and set that to false, that should work around the issue for now

[2018-03-27 23:43] fzurita commented on #1765
I think that can be fixed by updating the compiler version. So make sure you are using the latest GCC or clang.

[2018-03-27 23:48] loganmc10 commented on #1765
It's because glProgramParameteri isn't valid in GLES2, it's an optional hint to give the driver, so we just need to skip calling that in GLES2

[2018-03-27 23:49] fzurita commented on #1765
I'm surprised it's not crashing in Android for GLES2 devices.

[2018-03-28 00:09] loganmc10 commented on #1765
Yeah I'm surprised as well, maybe they don't support shader storage? That function is mentioned in GL_ARB_get_program_binary but not GL_OES_get_program_binary

[2018-03-28 00:11] loganmc10 commented on #1765
I'm surprised it works at all, the main function for the GLES2 version is supposed to be glGetProgramBinaryOES, not glGetProgramBinary, which is what we use

[2018-03-28 00:27] fzurita commented on #1765
This is probably returning false for most GLES2 devices. In his it must be returning true:
[code]

[2018-03-28 02:03] pdrome opened #1770 "GlideN64 Doesn't Display PeterLemon's TIMINGNTSC"
This may be a known issue or fringe case we don't care about, but GlideN64 cannot display this homebrew ROM.

https://github.com/PeterLemon/N64/tree/master/CPUTest/CPU/TIMINGNTSC

I just get a black screen. Angrylion RDP plus can display it without issue and it works on a real N64 (I haven't verified myself yet, but I have it on good authority).

Many ROMs in the same repository have issues with m

[2018-03-28 02:04] loganmc10 commented on #1765
@hissingshark can you try this commit:

https://github.com/loganmc10/GLideN64/commit/eddfa190325438ce3c852df67df0fdf05d0cd8a0

You can apply if to your current system by downloading https://github.com/loganmc10/GLideN64/commit/eddfa190325438ce3c852df67df0fdf05d0cd8a0.patch

and then:
[code]

Or if you have some other system to test it out that is good too.

[2018-03-28 02:06] loganmc10 commented on #1770
Does it work in GLideN64 LLE? I can't remember

[2018-03-28 02:07] pdrome commented on #1770
I'm actually not certain how to use GLideN64 LLE in m64p.  I'll see if I can figure it out.

[2018-03-28 02:17] loganmc10 commented on #1770
Just tested, yeah it doesn't work in LLE either

[2018-03-28 02:51] gonetz commented on #1770
It is relevant.
I suppose that the rom does not use RDP for rendering. Try to enable copy buffer from RDRAM.

[2018-03-28 03:07] loganmc10 commented on #1770
I tried that and other settings (copy aux, native res, sync color copies, etc..) nothing shows up, nothing written to gliden64.log

[2018-03-28 04:18] PeterLemon commented on #1770
Hi guys,
My these roms use the N64 framebuffer, not the RDP, to display gfx, this is to help early emu's with only a MIPS CPU & simple VI framebuffer gfx setup to run. HLE GFX plugins will need framebuffer emualtion to run them.

[2018-03-28 20:55] fzurita commented on #1441
I'm going to go ahead and close this since there is a working implementation in https://github.com/gonetz/GLideN64/pull/1452.

[2018-03-28 20:55] #1441 closed

[2018-03-28 22:05] hissingshark commented on #1765
1. So `EnableShadersStorage = False` as applied to my custom build with `-DVERO4K` **works** (will just need configuring to go full screen 16:9 and to sort out the choppy audio).  Thank you.

2. But the patched code (I assume we are mean't to go back to the default `EnableShadersStorage = True`) gives a new seg fault:

FYI - I know I can just use the configuration fix going forward, but I'm happy

[2018-03-28 22:37] loganmc10 commented on #1765
Can you look inside ```~/.cache/mupen64plus``` for a folder called ```shaders``` and delete that folder and then retry?

If it still crashes then I would just say shader storage doesn't work on your device. I would either disable shader storage using the VERO4K definition or disable it for GLES2 in general, depending on @fzurita's preference. I'd be surprised if it worked on any GLES2 devices befo

[2018-03-28 22:39] loganmc10 commented on #1765
Although they crash might just be related to your compiler, it looks kind of strange, @fzurita might have more insight

[2018-03-28 23:05] fzurita commented on #1765
Try using the latest GCC or clang. This looks very similar to a crash we had before when someone was using an older compiler.

[2018-03-29 07:03] hissingshark commented on #1765
Deleting the shader folder does let it run - BUT it must be deleted prior to each run otherwise it gives the seg fault I published above.

You know I was sure the patched build had worked when I tested it the first time but after that no dice so I thought I'd mixed up my builds or config!

My gcc is currently at 6.3 I believe.

[2018-03-29 13:11] fzurita commented on #1765
This last crash looks like a bug in the code. Not sure why it's happening though.

[2018-03-31 04:40] fzurita opened #1777 "Beetle Adventure Racing broken menu background"
This commit broke the Beetle Adventure Racing background in menus:

https://github.com/gonetz/GLideN64/commit/7aeb1018ea19c29389fcc2839033d136453893ec

It looks like this after that commit:

![beetle_adventure_rac-001](https://user-images.githubusercontent.com/11581687/38159703-213fb2e8-347c-11e8-9bd7-12e124c885fd.png)

[2018-03-31 04:42] fzurita opened #1778 "Goldeneye broken skies"
After this commit, skies have a strange effect:

https://github.com/gonetz/GLideN64/commit/bdb0f7ca94df7fc127aa6b7190f9494c16f25905

Here is a screenshot after that commit:

![goldeneye-000](https://user-images.githubusercontent.com/11581687/38159722-6c1ba81c-347c-11e8-88d0-661c432a465a.png)

This effect only happens if the player is moving. One thing special about the sky is that it's drawn using

[2018-03-31 05:18] fzurita commented on #1777
@gonetz This is never succeeding because ```clamps``` is always ```1```

https://github.com/gonetz/GLideN64/blob/master/src/FrameBuffer.cpp#L439

Why do we check for ```clamps``` or ```clampt``` to equal to zero before getting the "sub texture"?

[2018-03-31 06:01] gonetz commented on #1778
Thanks! I'll check it ASAP.

[2018-03-31 10:25] gonetz commented on #1777
@fzurita I just tested BAR on my PC - it works with no problem. Do you have this issue on mobile device?

Regarding check for clamps or clampt. Usually plugin can re-map texture coordinates to read data from original buffer texture. However, if S or T clamping is not set, texture wrapping is possible. The wrapping will not work correctly with whole buffer, thus necessary part of it is copied to a

[2018-03-31 10:29] gonetz commented on #1778
@fzurita I can't reproduce it on my PC. Do you have that regression with mobile device?

[2018-03-31 10:32] gonetz commented on #1765
@hissingshark Can it be closed?

[2018-03-31 10:35] gonetz commented on #1760
0x7f2b59685291: note: pointer points here

Does it happen with particular game or it is general issue?

[2018-03-31 11:00] hissingshark commented on #1765
I'm happy with respect to the original issue.

@fzurita

Does this need to be taken this elsewhere then?  A new issue?

[2018-03-31 11:22] gizmo98 commented on #1777
@fzurita
Please test without NEON_OPT. I have seen equal problems if CopyMatrix() was not implemented correctly.

[2018-03-31 12:07] fzurita commented on #1778
Yep, mobile device.

[2018-03-31 12:11] fzurita commented on #1777
@gonetz Yes, this is on a mobile device. @gizmo98 I'll check without neon.

[2018-03-31 12:29] loganmc10 commented on #1760
I'll double check but I believe it's a few games, but not every game, I think I saw this in Super Mario 64, right at the beginning

[2018-03-31 12:29] loganmc10 commented on #1778
I'll look into this on Monday

[2018-03-31 12:39] fzurita commented on #1777
@gizmo98 Same issue with NEON and VEC4 optimizations disabled.

This issue was specifically introduced by https://github.com/gonetz/GLideN64/commit/7aeb1018ea19c29389fcc2839033d136453893ec

[2018-03-31 13:29] loganmc10 commented on #1777
@fzurita does this happen on the Shield? I'm curious if it's GLES related or ARM/Android related

[2018-03-31 14:43] gonetz commented on #1765
@hissingshark
If original issue is fixed, please close this ticket.
If you have another issue to solve, please open new ticket.
It is not good to solve several issues in one ticket: things quickly messed up.

[2018-03-31 15:40] #1765 closed

[2018-04-01 01:21] fzurita commented on #1777
It doesn't happen with the Shield TV. So it's not an ARM issue, it's a GLES issue.

[2018-04-01 02:53] Jj0YzL5nvJ commented on #1725
Like @gonetz's case, I can't reproduce on Xubuntu 16.04.4 LTS using amdgpu (Mesa 17.3.6 & Mesa 18.1.0-devel).

[2018-04-01 06:04] gonetz commented on #1777
@fzurita what about frame buffer effects in other games?
For example, subscreen in Zelda OOT uses the same code.
Also, please check BAR menu with fb emulation disabled.

[2018-04-01 06:07] fzurita commented on #1777
BAR with FBE disabled:
![beetle_adventure_rac-002](https://user-images.githubusercontent.com/11581687/38170338-4795b94e-3551-11e8-9e93-aaba5510d366.png)

OOT subscreen:
![the_legend_of_zelda-000](https://user-images.githubusercontent.com/11581687/38170343-678c4632-3551-11e8-9f29-fd542ded76ac.png)

[2018-04-01 06:10] gonetz commented on #1777
I tested BAR on my GLES 3 device - menu works. App version: 3.0.181

[2018-04-01 06:11] fzurita commented on #1777
Yes, app version 181 is before this commit: https://github.com/gonetz/GLideN64/commit/7aeb1018ea19c29389fcc2839033d136453893ec

[2018-04-01 06:12] gonetz commented on #1777
Ok, BAR with FBE disabled looks like on PC.

[2018-04-01 06:13] gonetz commented on #1777
Please give me apk with 7aeb101.

[2018-04-01 06:15] gonetz commented on #1777
My guess is that depth-buffer based fog started to work incorrect. If subscreen in Zelda OOt still works, BAR should work too.

[2018-04-01 06:15] fzurita commented on #1777
Here:
[app-debug.zip](https://github.com/gonetz/GLideN64/files/1866138/app-debug.zip)

[2018-04-01 06:17] fzurita commented on #1777
It seems that way, or maybe it never worked quite right and https://github.com/gonetz/GLideN64/commit/7aeb1018ea19c29389fcc2839033d136453893ec exposed the issue.

[2018-04-01 06:26] fzurita commented on #1777
After doing that, menu background looks correct. So it seems related to image textures.

How can it work when ```pTexture = _getSubTexture(_t); ``` is called every time?

[2018-04-01 06:36] gonetz commented on #1777
I have no idea yet.
I just tested your debug apk: BAR menu works ok on my device with GLideN64 profile MEDIUM.
The device does not support image textures as I remember (Adreno 330)

[2018-04-01 06:47] gonetz commented on #1777
@fzurita BAR menu looks like this without fog emulation (OpenGL  and GL ES)
![bar-nofog](https://user-images.githubusercontent.com/8983092/38170559-018086e8-35b3-11e8-9e9d-b55958548df4.jpg)

With fog emulation it looks like this (OpenGL):
![bar-fog](https://user-images.githubusercontent.com/8983092/38170561-14289204-35b3-11e8-8db0-7da3092d3e5e.jpg)

Does it look correct on your device with pTextur

[2018-04-01 08:26] Papermanzero opened #1781 "Some PAL Games have a black border"
Some PAL games like Super Mario 64 (German Version) or Mario Kart 64 PAL have black borders.
Even if cropping is activated the black border is visible.
Means, it is not possible to play certain PAL games without black borders.
Especially the black border on top and bottom of the screen are not necessary.

[2018-04-01 08:37] Papermanzero opened #1782 "Texture Smoothing is crashing the emulator (M64P)"
If texture smothing is activated the emulator is going to crash.
In Mupen64Plus you have to enter "txFilterMode = 2" in the config to reproduce the issue.

[2018-04-01 08:46] gonetz commented on #1777
Correction to above question: does fog work at all with pTexture = _getSubTexture(_t) called every time?
For example, does it work on "Mount Mayhem" track?

[2018-04-01 11:20] fzurita commented on #1777
He is what it looks like when ```pTexture = _getSubTexture(_t) ``` is called every time:
![beetle_adventure_rac-003](https://user-images.githubusercontent.com/11581687/38172597-0b08cf58-357d-11e8-935b-cb5fd2029cc1.png)

[2018-04-01 11:32] loganmc10 commented on #1777
My theory, since this is GLES only, is that we are doing something to the texture that is used for the fog that is illegal for GLES, see for instance: https://community.arm.com/graphics/f/discussions/5266/is-it-somehow-possible-to-sample-a-texture-with-gl_r32f-format-with-a-sampler2d-on-mali-t-760

I'm not saying this is the exact issue, but in that instance the shader didn't work because of a tex

[2018-04-01 11:44] fzurita commented on #1777
But it works when using the "sub texture". Aren't the main texture and sub texture identical?

[2018-04-01 12:51] fzurita commented on #1777
So there is no texture format set in the shader for this texture:
```"layout(binding = 0) uniform sampler2D uDepthImage;		\n"```

The format is "depth component", I wonder if that is ok.

[2018-04-01 13:03] gonetz commented on #1781
It is how these games are programmed. Super Mario 64 NTSC has buffer size 320x240. NTSC has 480 active scan lines, height of 240 allows the game to run in non-interlaced mode. PAL has 576 scan lines. Thus, there were two ways to port game to PAL without altering the game code:
* stretch 320x240 image to 320x288 screen  - image quality will suffer.
* add black boarders to vertically center the imag

[2018-04-01 13:03] #1781 closed

[2018-04-01 13:25] gonetz commented on #1777
@fzurita I have another hypothesis: Sub-texture code performs some initialization, which is not done without it. May be something wrong with cached texture parameters. Could you revert commits

b81dd6a6733
91ab96d514e
a611105e6dd

and test again? I don't have proper device to test.

[2018-04-01 13:35] fzurita commented on #1777
With those commits reverted:
![beetle_adventure_rac-005](https://user-images.githubusercontent.com/11581687/38173646-fac52dea-358f-11e8-8a87-744d08dd73f4.png)

[2018-04-01 14:19] gonetz commented on #1777
Weird. Something really bad revealed. OpenGL works the same with or without these commits. I have no idea, what is broken in GLES.

[2018-04-02 04:45] fzurita commented on #1777
As far as I can tell, m_pSubTexture == m_pTexture in context. It's puzzling me why setting the current texture (TextureCache::current) to m_pSubTexture works but setting it to m_pTexture doesn't work.

[2018-04-02 07:36] oddMLan commented on #1278
This can be closed. Shader Keys is equivalent to the proposed approach in the original post.

[2018-04-02 10:22] gonetz commented on #1777
I guess, some of these fields just was not set for subTexture  and they contain some initial/garbage value.
line, tMem, palette have no meaning for frame buffer texture.
width/height/scale fields difference is because it is sub-texture.

I need to check, why frame buffer texture is used there, for which purpose.
Your test proves that fb emulation works ok when fog rendering is removed.
That is gra

[2018-04-02 10:43] #1278 closed

[2018-04-02 12:20] fzurita commented on #1777
Here are the differences with values, some are junk:
[code]

One surprising difference is that the subtexture is tiny.

[2018-04-02 14:55] gonetz commented on #1777
@fzurita scaleS and scaleT can't be zero. They can be uninitialized at the beginning of FrameBuffer::getTexture , but after these lines they must be non-zero:
[code]
Please check that.

I don't think so.

[2018-04-02 15:10] fzurita commented on #1777
Yes, good point, I'm printing out those values before the scale values are adjusted right after the getSubTexture call.  scaleS and scaleT will be the same between the main texture and the sub texture.

[2018-04-02 15:35] gonetz commented on #1777
I see, how things work. There is no frame buffer effect as we understand it.
When RDP set depth buffer, it usually set color buffer with the same address too. This color buffer is used to clear the buffer with ZMax value using fillrect. Several games may use depth buffer area as auxiliary copy of main color buffer. Thus plugin also creates corresponding color and depth buffers. Depth buffer textur

[2018-04-02 15:58] gonetz commented on #1777
Looks correct, nothing unexpected.

Since the result of _getSubTexture  should not be used for the fog, I suppose that some code inside it has some side effect. I commented lines 412 and 439 in FrameBuffer.cpp to force _getSubTexture call but skip actual buffer blit - nothing changed on desktop build. Fog works in menu and "Mount Mayhem".

I suggest you to do the same. If you will get the same res

[2018-04-02 17:13] loganmc10 commented on #1782
I can't reproduce this, is there a certain game that this is happening with? I tested Linux and Windows

[2018-04-02 18:18] Papermanzero commented on #1782
Not at all. Some games are crashing immidiatelly (e.g. Super Mario 64 - PAL, Mario Kart 64 - PAL). Others are crashing later after some screens (e.g. Mario Party 3 - PAL). Hmm strange.

Here is the config:
# Settings version. Don't touch it.
configVersion = 20
# Crop resulted image (0=disable, 1=auto crop, 2=user defined crop)
CropMode = 1
# Crop width pixels from left and right of resulted image

[2018-04-02 18:56] loganmc10 commented on #1782
I'm still unable to reproduce it (I tested Mario Kart 64 PAL and tried to copy your settings). You have a number of non-default settings. I would backup your mupen64plus.cfg file, and just uses the defaults + txFilterMode=2 to see if it still crashes, if it doesn't you'll need to track down what combination of settings is causing the problem for you.

[2018-04-02 19:07] loganmc10 commented on #1760
Yeah that particular error isn't general. It happens at the very beginning of Super Mario 64

[2018-04-03 04:16] fzurita commented on #1777
This is amusing.... If I return ```m_pTexture``` at the end of ```_getSubTexture```, the effect still works correctly. But if I take out the ```blitFramebuffers```, it stops working....

[2018-04-03 04:49] fzurita commented on #1777
So here is the code that really is necessary for GLES to work correctly, not sure why yet:

[code]

[2018-04-03 05:05] fzurita commented on #1777
It's looking a lot like a driver over optimization issue. By blitting the FBO somewhere, we are telling the driver that the FBO is actually in use and it shouldn't be thrown away, if we don't blit, the FBO is not in use, so it's thrown away, so it's never available to the GLSL code.

[2018-04-03 11:46] Sintendo commented on #1760
https://github.com/gonetz/GLideN64/commit/e3bd9a0ccfcee88b2ebc1ee809ffdec5298d923d#diff-bb0503904b33c733951367125a9bc632L230

Just a heads up, this change achieves nothing: https://godbolt.org/g/Hf8sci

[2018-04-03 14:52] gonetz commented on #1777
As I explained,  result of getTexture is not actually used because texturedRectShadowMap will set another buffer texture and another shader program.
Thus, no matter which texture returns getTexture method.

[2018-04-03 14:52] gonetz commented on #1777
As I explained,  result of getTexture is not actually used because texturedRectShadowMap will set another buffer texture and another shader program.
Thus, no matter which texture returns getTexture method.

[2018-04-03 14:57] fzurita commented on #1777
Yeah, I understand what you are saying. I still don't understand why the driver needs the subtexture and a blit to it. I'm literally blitting a 0 width, 0 height section, and the effect still works correctly, but if I remove the blit, it doesn't work any more.

[2018-04-03 15:03] loganmc10 commented on #1777
the gfxContext.blitFramebuffers call also binds the read/draw framebuffer:

https://github.com/gonetz/GLideN64/blob/master/src/Graphics/OpenGLContext/opengl_BufferManipulationObjectFactory.cpp#L217-L230

Maybe the glBlitFramebuffer call isn't what is important, but rather the fact that it is binding the proper framebuffers for future use?

[2018-04-03 15:07] fzurita commented on #1777
It doesn't explain why if I change these to any other value, it also breaks the fog:
[code]

[2018-04-03 16:08] fzurita commented on #1777
So this works:
[code]

But this doesn't:
[code]

[2018-04-03 16:17] loganmc10 commented on #1777
Are the FBO's just created to allow glBlitFramebuffer? If you just need to copy between 2 textures, you can try using glCopyImageSubData, maybe it'll provide better results

[2018-04-03 16:19] fzurita commented on #1777
Well, the but shouldn't be needed at all. If you look carefully, I'm blotting 0,0 rectangle.

[2018-04-03 21:44] theboy181 commented on #1756
Is that level or an object. Object may be part of the draw distance. I would try it with the dad hacks.

[2018-04-03 22:31] Kidboy17 commented on #1756
I use the Extended Draw Distance GS hack you posted on Discord. It works wonderfully for this game. I believe its level and not object with the walls being closer than they should. Maybe the sword is considered level as well in the case.

[2018-04-04 03:39] fzurita commented on #1777
I just confirmed that this is a Adreno specific bug. I just tried a Mali device with image texture support and it works correctly there.

[2018-04-04 03:42] gonetz commented on #1777
@fzurita You example looks as a prove of drivers bug for me.
Plugin activates color buffer texture and right after that depth buffer texture.
If FrameBuffer::getTexture does not create sub-image and thus does not call blit, fog does not work.
Looks as if we activate some buffer texture, does not use it at all and activate another one instead - the second texture does not activated and fog does not

[2018-04-04 03:44] gonetz commented on #1777
Adreno bug again? Well, I'm not surprised.

[2018-04-04 03:54] loganmc10 commented on #1777
Do the depth and color attachments have the same size? I know that only GLES2 is supposed to have the GL_FRAMEBUFFER_INCOMPLETE_DIMENSIONS error, but I know for a fact that some other devices also require color and depth attachments to be equal sizes

[2018-04-04 04:02] fzurita commented on #1777
I'm not sure, but that's worth checking. I would expect a GL error if that was the case though. I have encountered that specific condition with Adreno and it has lead to a GL error. I'm seeing no GL errors with this issue.

[2018-04-04 04:16] gonetz commented on #1777
OpenGL does not require it, so sizes can be different on desktop.
GL ES indeed requires color and depth buffer textures be the same size. Plugin should drop frame buffer texture if its size differs from color texture size and create a new one in case of GL ES.

[2018-04-04 04:28] loganmc10 commented on #1777
Utils::isFramebufferError() is wrapped inside an assert and an ifdef GL_DEBUG, so it might not be getting checked depending on how you are compiling

[2018-04-05 02:29] loganmc10 commented on #1777
@gonetz was there an original reason for using imageLoad/imageTextures for the ShadowMap shader?

I just tested replacing imageLoad with texelFetch on my laptop that doesn't support imageTextures, and the fog works. I don't think Image Textures are really a requirement for this.

Image Textures are for sure require for N64 Depth Compare for ImageStore, but I believe ImageLoad can safely be replace

[2018-04-05 02:38] fzurita commented on #1777
That's a good point, I'm reading about it and apparently they're is no difference unless you plan to store it afterwards.

So, why would glsl es not support adding the image after loading it, that seems dumb.

[2018-04-05 03:33] fzurita commented on #1777
https://www.opengl.org/discussion_boards/showthread.php/178120-imageload-store%28%29-very-slow-any-tricks

[2018-04-05 03:34] loganmc10 commented on #1777
Yeah but in these cases they are declared as readonly, not coherent or writeonly

[2018-04-05 03:36] fzurita commented on #1777
Right, readonly does sound a lot like texelfetch

[2018-04-05 03:37] loganmc10 commented on #1777
Tomorrow I'll do up a proper PR for testing, I don't know if it will fix the Adreno issue, but it would allow more devices to see the fog

[2018-04-05 03:42] fzurita commented on #1777
It's also apparently faster to use texelfetch since it goes through the texture cache while imageLoad doesn't, at least that's what I read.

[2018-04-05 13:16] gonetz commented on #1777
Palette texture need to be constantly updated. It was convenient for me to implement with ImageTexture. I agree, it is not necessary to make it like this. I have plans to rewrite the code to use common 2D textures, but I have no time for it. Great if you can do it.

[2018-04-06 11:11] loganmc10 commented on #1725
I just had this reported to me about Blast Corps: https://github.com/m64p/mupen64plus-GLideN64/issues/69

Probably the same issue, only happens at high resolutions, GPU driver specific, flips the image

[2018-04-06 15:17] loganmc10 commented on #1725
I finally figured this out @gonetz the issue is in the ```_drawThickLine``` command:

https://github.com/gonetz/GLideN64/blob/9497a9b8681324234a49a12a1976b92e0ffd78e3/src/GraphicsDrawer.cpp#L911

If you force it to use _drawThickLine, you'll see the issue in this game. It only happens on certain GPUs at certain resolutions because m_maxLineWidth is different depending on the GPU.

[2018-04-06 16:55] fzurita commented on #1777
I implement a workaround for Adreno as a general case in opengl_ContextImpl and it fixes https://github.com/gonetz/GLideN64/issues/1702 with Adreno!

[2018-04-06 18:32] theboy181 commented on #1725
Sweeeeeeeet find!!!!!

[2018-04-07 01:30] fzurita commented on #1777
My pull request in general feels very hacky for a workaround. Maybe glFenceSync can be used like loganmc10 said in the pull request.

[2018-04-08 05:50] thecoreyburton opened #1788 ""Render 2D elements in N64 resolution" Scaling Method"
For "Render 2D elements in N64 resolution", is it possible to control the scaling method used after they're rendered? For example, if I'm running the emulator at 960x720, is it possible to use this option (as it fixes misalignments in some cases) and then have any 2D elements that are rendered this way point-scaled (nearest neighbor resized) to the output resolution, rather than bilinear resized?

[2018-04-08 06:08] AmbientMalice commented on #1788
What "render 2D elements at N64 resolution" does is merge textures into a single texture and then apply bilinear filtering to that single texture, instead of filtering each strip individually, which causes alignment problems.

[2018-04-08 07:27] gonetz commented on #1788
Yes, "render 2D elements at N64 resolution" merges narrow textures into a single texture and then put that large single texture on its place with bilinear filtering. It is possible to use any other filtering. Point-scaled would be useless though - it is simpler to disable texture filtering at all, result will be the same.

[2018-04-08 14:32] NurioHin opened #1789 "Paper Mario zoom-in when Mario approaches screen"
I am using GLideN64 3.0 on Project64 2.3.2, playing the US version of Paper Mario.

When playing Paper Mario, in some rooms, if you walk 'toward the camera' the image will zoom in a little. It's a very sudden cut and as mentioned, only happens in certain rooms. So far, I saw it happen in a room in the Dry Dry Ruins and also in the sewers under Toad Town.
I don't have this issue with other graphics

[2018-04-08 19:24] thecoreyburton commented on #1788
Thank you both for the explanations.

The game is mostly 2D and uses a combination of filtered and non-filtered textures. I've attached three screenshots as examples (with "Render 2D elements in N64 resolution" enabled):

![Screenshot 1](https://user-images.githubusercontent.com/12134368/38471569-4a739c2e-3bb6-11e8-976a-79bc65e247d2.png)
![Screenshot 2](https://user-images.githubusercontent.com/12

[2018-04-08 19:33] thecoreyburton commented on #1789
I've experienced this too, but I could never reliably reproduce it. I was using a build I had compiled myself at the time, prior to August last year (and therefore prior to the 3.0 release) and at the time, I wasn't sure if it was something I had done during the build process.

It seems to occur infrequently throughout the game. Like you, I noticed it in Dry, Dry Ruins, along with also experiencin

[2018-04-10 18:43] Papermanzero commented on #1788
This is related to that issue

https://github.com/gonetz/GLideN64/issues/483

[2018-04-11 22:52] fzurita opened #1793 "Top gear hyper bike ground issues"
There are big chunks of black ground that is supposed to be grass. It didn't work in LLE or HLE, Angrylion renders it fine though. Here is a screenshot:

![top_gear_hyper_bike-000](https://user-images.githubusercontent.com/11581687/38647279-70332e84-3db9-11e8-92db-14b0aa0391af.png)

[2018-04-11 22:54] fzurita commented on #1793
Here is a screenshot with Angrylion

![top_gear_hyper_bike-001](https://user-images.githubusercontent.com/11581687/38647341-bffb0bbc-3db9-11e8-8d0a-aea6998404d3.png)

[2018-04-12 10:39] fzurita commented on #1793
Ok, I didn't find the issue by searching, I'll close it.

[2018-04-12 10:39] #1793 closed

[2018-04-13 14:15] thecoreyburton commented on #1788
I wasn't aware of that. It sounds like much better idea.

[2018-04-14 18:54] oddMLan commented on #1548
Hm... would this be what we need?
https://reshade.me/forum/general-discussion/4083-depth-buffer-detection-modification

[2018-04-15 03:14] Nerrel commented on #1548
That was my first thought when seeing that mod.  Unfortunately, it's only available for D3D, not OpenGL.  I don't know if the author plans to do an OpenGL version, or if it's possible to do the same mod in the same way within that backend.

By default, ReShade looks for the most draw calls and sets the depth source that way.  The author of this mod described how their alternate method works this w

[2018-04-15 09:57] woj1993 commented on #1574
@gonetz Can we use Appveyor to compile both types of plugin?
P.S. Can you update? Please.

[2018-04-16 06:11] gonetz commented on #1731
My be. This hypothesis is not proved or disproved yet.

[2018-04-16 06:15] gonetz commented on #1574
We can use Appveyor to compile both win32 and x64 mupen64plus.
I don't know how to build zilmar-spec version with Appveyor.
I'll update WIP build within days. I need to check-and-approve PR from loganmc10.

[2018-04-16 14:44] gonetz commented on #1574
Current master:
https://drive.google.com/file/d/1YjBzzUZ7dT3WVh7a4VEf-ozJXY6j0Xz-/view?usp=sharing

[2018-04-16 17:12] paradadf commented on #1665
Is this still and issue? Sorry, I can‘t compile it to test it myself.

[2018-04-16 18:01] loganmc10 commented on #1702
@Nerrel can you try the latest WIP build located here: https://drive.google.com/file/d/1YjBzzUZ7dT3WVh7a4VEf-ozJXY6j0Xz-/view?usp=sharing I believe your issue should be fixed in this build

[2018-04-16 18:50] loganmc10 commented on #1641
I confirmed this on the PC. This is really strange, I wonder if the original game did this? You can go back to the main menu and everything, and but once you start the 2nd match, the names are on top of the old player names.

[2018-04-16 21:53] oddMLan commented on #1641
I think the game currently has a hack for the score board.

[2018-04-16 22:36] Nerrel commented on #1702
Fixed indeed!  Thank you so much.   I'll close this if there's nothing more to be done here.
![Test result](https://c1.staticflickr.com/1/788/41465036052_9da6881134_z.jpg)

[2018-04-16 22:39] fzurita commented on #1702
Not yet

[2018-04-16 22:40] loganmc10 commented on #1702
I submitted this PR to fix this same issue on mobile devices: https://github.com/gonetz/GLideN64/pull/1798

[2018-04-17 01:38] theboy181 commented on #1574
![image](https://user-images.githubusercontent.com/9299743/38843708-32a9bc14-41a5-11e8-8c25-a2aa5c7454b5.png)  screen shot from GLideN64 3.0
Found a regression in Mischief Makers (U)

Rocks are no longer rendered. Tested against 3.0 (still working)

[2018-04-17 03:45] gonetz commented on #1641
As  I remember, the game loads score board image to RDRAM, then it set aux color buffer at this place and renders text into proper places inside that buffer. Thus, score board frame buffer texture must be initialized with data from RDRAM (currently done by the hack) and updated each time when score board image in RDRAM altered by CPU.

[2018-04-17 05:16] gonetz commented on #1778
Is it fixed now?

[2018-04-17 05:17] gonetz commented on #1777
Is it fixed now?

[2018-04-17 06:49] Papermanzero commented on #1782
Default and smoothing also crashes the emulator. But I will try the newest builds.

[2018-04-17 11:06] fzurita commented on #1778
Yep

[2018-04-17 11:11] fzurita commented on #1777
Yep

[2018-04-17 11:11] #1777 closed

[2018-04-17 11:12] #1778 closed

[2018-04-17 11:50] fzurita commented on #1641
The problem is that the score board is never cleared when a new game starts.

[2018-04-18 18:30] webgeek1234 commented on #1748
Sorry to ressurect an old issue, but I'm trying to hunt down the cause of this issue on shield custom ROMs, namely for shieldtablet and foster (shield android tv). I'm the LineageOS maintainer. This issue occurs on a few different emulators, but not on anything else I've seen, like the Lightspeed games (portal, borderlands, tomb raider, etc all run as expected). But I've yet to find the cause. How

[2018-04-18 18:41] loganmc10 commented on #1748
Most commercial games probably target OpenGL ES, since the Nvidia devices are basically the only Android devices that support full OpenGL.

It seems like LineageOS only works with OpenGL ES, not OpenGL. I'm not sure what pointers we could give, like I mentioned, Nvidia is (I think, but I'm probably wrong) the only company that is shipping Android devices with OpenGL support, perhaps they somehow m

[2018-04-18 18:47] loganmc10 commented on #1748
Are you sure they actually create a full OpenGL context? They could still just be creating a GLES context, how would we know?

If they are, perhaps the difference is that they might be using the Android SDK (GLSurfaceView or whatever it might be called), and most emulators are probably using EGL calls in native code?

[2018-04-18 18:48] webgeek1234 commented on #1748
@loganmc10: Sorry, I should have been more clear. Lightspeed Studios is Nvidias internal game porting branch. Their games only support desktop opengl. Like, won't run on the shield portable as its hardware only supports gles. I spent some time fighting to get some semblence of desktop gl support. And gl extension viewers show all the gl extensions up to 4.5 (or .6, don't recall if those made the l

[2018-04-18 19:34] webgeek1234 commented on #1748
I may have found something. I think it's failing:
https://github.com/LineageOS/android_frameworks_native/blob/cm-14.1/opengl/libs/EGL/egl_object.cpp#L126
and crashing the next line. I'll do some more research and testing based on that. Need to find where version gets set. I don't think I've seen any client code that does so.

[2018-04-18 20:24] fzurita commented on #1309
@retrobenny do you have a save state for this? I would like to see if it's an issue with N64 depth compare.

[2018-04-18 20:25] fzurita commented on #1117
I don't think this is worth fixing.

[2018-04-18 20:25] #1117 closed

[2018-04-18 20:29] fzurita commented on #1093
This seems to be fixed now.

[2018-04-18 20:29] #1093 closed

[2018-04-19 00:57] retrobenny commented on #1309
Of access to Grunty Industries in that general spot?
(I may need to get the Bazza battery placed into that if I forgot to)

[2018-04-19 00:59] fzurita commented on #1309
Yeah, like the picture.

[2018-04-19 19:57] Jj0YzL5nvJ commented on #1117
That looks similar to the noise issues on [SSSV](https://github.com/gonetz/GLideN64/issues/1764).
In SSSV case:

-  Noice not disappear even then noise emulation is disabled and you look the noice object from a long distance.
-  The noise emulation only works correctly with:  `EnableFragmentDepthWrite = False` and `EnableFBEmulation = False`. But looks corrupted from a long distance perspective.

[2018-04-19 21:40] fzurita commented on #1117
In this case it's purely due to buggy drivers.

[2018-04-20 16:36] fzurita commented on #1309
Cool, it's probably the same. If N64 depth compare fixes it, then I think we can close it.

[2018-04-20 16:36] #1309 closed

[2018-04-20 20:05] retrobenny commented on #1309
Sorry for the delay,also an image of what it looks like for me.

![banjo_tooie-009](https://user-images.githubusercontent.com/16418716/39071234-e485e468-44ab-11e8-89c7-c93c83a71b21.png)

[Bazza Superlife.Banjo-Tooie (U) [!].sav.zip](https://github.com/gonetz/GLideN64/files/1933506/Bazza.Superlife.Banjo-Tooie.U.sav.zip)

[2018-04-20 22:26] loganmc10 opened #1801 "Copy Depth Buffer from RDRAM?"
Right now there are functions to copy the color buffer to/from RDRAM. But there only seems to be functions to copy the depth buffer to RDRAM.

It seems (and I could be wrong), that some games are modifying the depth buffer from the CPU. I think this may be what is causing this issue: https://github.com/gonetz/GLideN64/issues/1173

If I clear the depth buffer right after the wnd.swapBuffers() call,

[2018-04-20 23:55] Nerrel commented on #1702
So I can close this issue then?

Also, in a different area of the game that WIP build above had a fairly bad glitch not present in the last builds in which solid objects became transparent.  Should I open an issue, or was that a rough build where regressions like that might be expected?

[2018-04-20 23:56] fzurita commented on #1702
Please make a new issue and can you also post a save state in the be issue?

[2018-04-20 23:57] fzurita commented on #1702
This issue should also be closed.

[2018-04-20 23:57] Nerrel commented on #1702
Sure thing, thanks.

[2018-04-20 23:57] #1702 closed

[2018-04-21 00:17] fzurita commented on #1801
For that issue, I think LLE commands are not being processed correctly. I think depth values are being calculated wrong.

It would be easy to test, just set depth values for LLE triangle commands to the furthest back. I think would work.

[2018-04-21 00:30] loganmc10 commented on #1801
It worked before without framebuffer emulation, when gonetz modified things so that even without framebuffer emulation an FBO is used, since then it's broken whether or not FBE is enabled

[2018-04-21 00:39] Nerrel opened #1802 "Solid objects incorrectly rendered with transparency when ReShade enabled."
-Windows 10x64, Project64, GTX 970

This glitch occurs using the WIP build "GLideN64_6a10a83d" posted below, but not in the 3.0 release or the Naboo Alpha 1 release.  In the milk bar in Majora's Mask the bar, stools, Link, and other solid objects are transparent.  Textures along the walls are also displayed incorrectly:
![Image of transparent bar](https://c1.staticflickr.com/1/811/26722221807_f827

[2018-04-21 02:27] loganmc10 commented on #1802
A couple questions:

Do you have N64 Depth Compare enabled? What GPU and OS do you have?

[2018-04-21 02:41] Nerrel commented on #1802
Depth compare is not enabled.  As far as I'm aware, every setting is on the default/recommended option aside from the resolution and AA/AF.  Using custom textures doesn't make a difference.  I'm using Windows 10x64 and a GTX 970 on Project64, sorry I didn't add that to the first post.  I don't have Mupen64 installed right now to test with.

It seems like the textures that are most commonly impacte

[2018-04-21 02:43] loganmc10 commented on #1802
Hm ok, I tested on my Linux laptop (mupen64plus) with your save state and didn't see that issue, I'll do some more testing.

Are your GPU drivers up to date?

[2018-04-21 02:51] Nerrel commented on #1802
Yep, I'm using the newest 391.35 driver.

[2018-04-21 03:33] loganmc10 commented on #1802
Just tested my phone as well, can't see any issues

[2018-04-21 03:35] gonetz commented on #1801
I suppose that depth issues in #161 are because depth buffer cleared by CPU.

[2018-04-21 03:45] gonetz commented on #1309
@retrobenny Thanks for the save!
Yes, shadow works correct here too with N64 depth compare:
![banjo_tooie-000](https://user-images.githubusercontent.com/8983092/39080046-1e2d7e38-4551-11e8-9697-9dcc94c1dc57.jpg)

[2018-04-21 03:46] gonetz commented on #1309
Worth to add that option to custom settings for Banjo.

[2018-04-21 03:50] gonetz commented on #1802
@Nerrel do you have that issue with texture packs and enhancements disabled?

[2018-04-21 03:52] loganmc10 commented on #1309
Now that performance is not an issue it would be nice to sort out the remaining issues with N64 Depth Compare and make it a default option for all games, but I know your time is very limited

[2018-04-21 04:00] Nerrel commented on #1802
I removed the config file from my plugins folder to force GlideN64 to completely default on every setting and I made sure ReShade was disabled.  There was no change:
![image of fairy fountain](https://c1.staticflickr.com/1/792/39785021110_234d5722e6_c.jpg)

[2018-04-21 04:05] fzurita commented on #1802
It looks normal in Android with an Adreno 540 GPU. I wonder which commit broke it, it must had been recent.

I'll check my Shield TV which also has a NVidia GPU.

[2018-04-21 04:10] fzurita commented on #1802
No problem in the Shield TV either.

[2018-04-21 04:48] gonetz commented on #1309
Yep, not right now.
For example, this option is not compatible with Naboo ucode I'm working on now.
I don't know why.

[2018-04-21 05:50] oddMLan commented on #1802
Try disabling the Shader Cache

[2018-04-21 06:57] gonetz commented on #1802
It is enabled on your screen shot.

[2018-04-21 21:33] Nerrel commented on #1802
^That turned out to be the problem, I thought disabling ReShade from its interface would eliminate it as a factor but clearly it didn't.  After removing the ReShade installation completely the game worked normally again.  I tried rolling back to a different version of ReShade but got the same glitches again, even with no effects installed.  Whatever was changed between the Naboo Alpha 1 release an

[2018-04-22 04:44] fzurita commented on #1801
Could a fingerprint approach be used to find writes by the CPU like we do for color buffers?

https://github.com/gonetz/GLideN64/blob/master/src/FrameBuffer.cpp#L295

[2018-04-23 13:34] gonetz commented on #1802
Are you sure that ReShade is completely removed? Check that opengl32.dll does not present in your emulator folder. Nobody else can reproduce that bug.

[2018-04-23 20:45] TeconMoon commented on #1789
I can also verify that this is an issue, the easiest spot in the game to reproduce the problem consistently so far has been Shooting Star Summit. I will post a video of the issue once I can get it recorded.

Usage:
- Project 64 2.3.2
- GLideN64 Public Release 3.0
- Clean Paper Mario USA 1.0 Rom

This has been tested with the default GLideN64 settings but I can try other settings if it will help is

[2018-04-23 21:08] loganmc10 commented on #1789
I can reproduce the issue, I'll bisect to what commit caused this bug

[2018-04-23 21:37] loganmc10 commented on #1789
@gonetz this is the commit that caused this issue: https://github.com/gonetz/GLideN64/commit/cebca46e0aa3a935a6bb039466079d3d9bcbff4e

It is very easily reproducible by using the save state posted in the first post (https://github.com/gonetz/GLideN64/files/1887538/Paper.Mario.U.pj.zip) and just walking down

[2018-04-24 03:32] gonetz commented on #1789
@loganmc10 Thanks! The commit introduces some optimizations, which sound reasonable for rects. Why update viewport if rects use screen coordinates? However, if it cause that issue, there is some side effect I missed.  It would be good to find, what happens there but it may take time. For now we can remove these lines
`gSP.changed &= ~CHANGED_VIEWPORT; // Don't update viewport
`

[2018-04-25 02:55] Nerrel commented on #1802
The glitch doesn't happen when ReShade's opengl.dll file is removed; the plugin works correctly when used by itself without ReShade installed.  In that sense, this turned out not to be a problem with GlideN64 itself.

It's just that ReShade compatibility is broken for those who want to use that program.  You would have to install ReShade (it doesn't seem to matter which version) to reproduce the p

[2018-04-25 06:36] gonetz commented on #1802
I would like to maintain compatibility with ReShade, but I have no resources for that.
Thus, no ReShade unless somebody else will take that task.

[2018-04-25 06:44] gonetz commented on #1801
Too much efforts imo. "Force depth buffer clear" option should solve the issue without overheads.

[2018-04-26 07:37] mudlord commented on #1731
well if it means anything, did some debugging with Whomps fortress.

At no point where those bad edges were visible, the triangle functions (which in turn call ziggy's low level edgewalker -> GL triangle code) were hit.

[2018-04-30 01:42] theboy181 opened #1803 "Gauntlet DL's incorect in HLE mode"
When you are in HLE mode the DL's only get to 60. When I load a save state created with AL+ in HLE mode the health bar is broken, but when the same AL save state in LLE mode the health bar works.

Could the missing DL's in HLE mode be the issue with the non working health bar?

@gonetz if you need me to explain further I can show you over video on Discord64

[2018-04-30 01:46] loganmc10 commented on #1803
Does the health bar work in GLideN64 LLE?

[2018-04-30 02:00] theboy181 commented on #1803
yes if you load a save state.. so part of the issue might be the missing DL's

[2018-05-01 00:27] Nerrel commented on #1761
Is no one able to reproduce this?  I assume I could get around this problem by uploading the cache file itself for players to use instead of the png textures, but it does seem problematic that the texture cache is so broken (at least in my experience).  Is it possible that this is the result of something wrong with the texture pack itself?  I tried downloading other large texture packs to test but

[2018-05-01 10:27] gonetz commented on #1803
may be later.

[2018-05-01 11:02] gonetz commented on #1789
Fixed

[2018-05-01 12:26] gonetz commented on #1801
I added "forceDepthBufferClear" option. If it will not help any game but Eikou no Saint Andrews I'll remove it from UI.

[2018-05-01 13:31] AmbientMalice commented on #1801
A lot of testing will be needed. Unfortunately, it doesn't properly fix Perfect Dark's Combat Simulator. Player 2's graphics improve, but there's constant flickering all over scene geometry.

[2018-05-01 13:32] loganmc10 commented on #1801
Yeah I think multiplayer goldeneye will be the same, bottom screen is much better with force depth buffer clear, but it still seems to flicker every 3rd frame or something

[2018-05-01 13:44] AmbientMalice commented on #777
This has possibly regressed recently? I was testing today, and can't get any photographs to be recognised.

[2018-05-01 14:40] gonetz commented on #777
May be. Could you find the last build where it worked?

[2018-05-01 15:02] gonetz commented on #1801
May be this hack need to be extended to fix multiplayer issues. Multiplayer may use several depth images.

[2018-05-01 15:29] gonetz commented on #1782
I can't reproduce it too. I tested 32bit and 64bit builds for windows.

[2018-05-01 15:41] gonetz commented on #1731
Could you explain what does it mean?

[2018-05-01 15:45] gonetz commented on #1707
@theboy181 Have you found how to reproduce that issue?

[2018-05-01 15:50] theboy181 commented on #1707
I’m away from my computer this week I’ll test again and give an update or close depending on my findings.

I’ll take some time to look at my other threads too. I’m sure there has been progress on some of them. :)

[2018-05-01 17:09] Nerrel commented on #1761
Thanks for looking into it.  The problem is that (without using a savestate) GlidN64 will attempt to create the texture cache after ending emulation- in Project64, by going to file>end emulation.  _This_ attempt almost always fails.

After ending emulation, the cache file will appear in its folder and will begin to grow in size.
![image of cache](https://c1.staticflickr.com/1/962/41829818211_d55a3

[2018-05-01 18:59] schubertguilherme commented on #1574
Hi gonetz congratulations for fix Resident Evil 2 and progress Star Wars, to make the fix of the game Top Gear Overbike (textures) is very difficult? And Mortal Kombat Trilogy, in stage "The Subway" running very slow? While other stages running normal. Hugs and sucess for you. https://ibb.co/ieY0tn

[2018-05-02 04:27] gonetz commented on #1761
So, the problem is with saving loaded cache to hdd. Ok, it is really the problem. I broke cache save when optimized cache load. It will be fixed.

[2018-05-02 06:44] gonetz commented on #1574
Current master:
https://drive.google.com/file/d/1PZImeWoip4Bc1MSo8eDSnGYljE5_irMa/view?usp=sharing

[2018-05-02 06:48] gonetz commented on #1761
@Nerrel I made texture cache save right after the load from texture pack. User will have to wait not only for load but also for save, but it is more safe. Load from saved cache is as fast as before.

Build:
https://drive.google.com/file/d/1PZImeWoip4Bc1MSo8eDSnGYljE5_irMa/view?usp=sharing

[2018-05-02 10:50] AlexN64gamer opened #1804 "Various Graphic Glitches in Pokemon Stadium"
When trying to play Pokemon Stadium 1 in HLE mode, trainer portraits doesnt show properly after you win a match, also I found some other glitchy stuff like Wartortle´s shell with a light blue line around, (instead of the normal white colour) or Sandshrew´s belly in the same light blue colour, im using Project64 2.3.2-202 (last stable release) and gliden64 3.0 with default config

[2018-05-02 13:50] gonetz commented on #1725
@loganmc10 Thanks! Fixed in 8212a1f

[2018-05-02 14:33] gonetz commented on #1803
Is not it duplicate of #1647?

[2018-05-02 14:35] gonetz commented on #161
Implemented depth buffer clear option.
@olivieryuyu can it be closed?

[2018-05-02 17:32] theboy181 commented on #1803
I’m not sure that the DLs being incorrect was identified. I figure it could be linked but is a separate issue.

[2018-05-02 17:33] theboy181 commented on #1725
This is awesome news. Was this linked any other issues ?  Should I close?

[2018-05-02 18:28] loganmc10 commented on #1725
I had someone report an issue with Blast Corps that was caused by the same bug (https://github.com/m64p/mupen64plus-GLideN64/issues/69) I'm sure other games could have been affected, but it sounds like it should be fixed now (I haven't personally tested)

[2018-05-02 23:56] tony971 commented on #1804
Why report bugs from last stable release? It may have already been fixed. And even if this is the issue that causes it to get fixed, that still won't affect the last stable release.

https://github.com/gonetz/GLideN64/issues/1574#issuecomment-385879877

Try the latest build and see if you still have the issue.

[2018-05-03 03:58] gonetz commented on #1725
If you can confirm that it is fixed, yes, please close.
I forced _drawThickLine and then fixed it, so the problem must be fixed for all cases, but better to get confirmation. Test build:
https://github.com/gonetz/GLideN64/issues/1574#issuecomment-385879877

[2018-05-03 05:54] #161 closed

[2018-05-03 08:59] Pixelnarium commented on #1725
The bug in Blast Corps I reported is fixed now.

[2018-05-04 21:55] Nerrel commented on #1761
That works for me.  With a big pack, I don't think the extra wait time really matters since the player is going to be waiting a while either way.  Thanks!

[2018-05-04 21:55] #1761 closed

[2018-05-05 03:50] gonetz commented on #1789
@NurioHin please test and close if fixed.

[2018-05-06 01:33] mudlord commented on #1731
Means simply, I checked the area where those bad poly edges are shown. At no point was the triangle functions in use. Rectangle ones on the other hand....

[2018-05-06 09:20] olivieryuyu opened #1806 "New feature request: exporting 3d models to into VRML"
I was wondering whether exporting 3D models from N64 games into VRML could be implemented in GlideN64.

I think Lemmy plugin implemented that back in days.

[2018-05-06 10:31] olivieryuyu commented on #1259
few screenshots of the HLE version of Battle of Naboo

Ground generation works nearly flawlessly

![ss2](https://user-images.githubusercontent.com/8987490/39672355-2a104b02-5129-11e8-9a1b-467c033d8f4e.jpg)

Particles system:

![ss1](https://user-images.githubusercontent.com/8987490/39672358-369eb818-5129-11e8-91fa-8e5de36de5e0.jpg)

Space fights

![ss3](https://user-images.githubusercontent.com/89

[2018-05-06 13:59] gonetz commented on #1731
If you are talking about misaligned polygons in Paper Mario, they are definitely triangles, not rects:
![pm1](https://user-images.githubusercontent.com/8983092/39674041-3110b63e-5170-11e8-895e-646085bd354a.png)
![pm2](https://user-images.githubusercontent.com/8983092/39674043-366a63c8-5170-11e8-97ed-0d59123bc2b6.png)

[2018-05-06 14:36] gonetz commented on #1540
I managed to reproduce the original issue. Text is dithered with noise value. Noise is value in range [0.0, 1.0]. When alpha of pixel is less than noise value, pixel discarded. All pixels of text have alpha 0.85. When noise emulation disabled, noise function returns 1.0 Since 1.0 > 0.85 all text pixels discarded by alpha compare. Now shader noise returns 0.5 when noise emulation disabled and the i

[2018-05-06 16:39] theboy181 commented on #1741
No change in current WIP

[2018-05-06 16:41] theboy181 commented on #1725
FIXED :)

[2018-05-06 16:41] #1725 closed

[2018-05-06 16:44] theboy181 commented on #1721
Closed for now, Issues has not been seen lately.

[2018-05-06 16:44] #1721 closed

[2018-05-06 16:45] theboy181 commented on #1739
Have not seen the issue in a while. closing for now.

[2018-05-06 16:45] #1739 closed

[2018-05-06 16:50] theboy181 commented on #1707
Was unable to reproduce with latest builds.

[2018-05-06 16:50] #1707 closed

[2018-05-06 16:53] theboy181 commented on #1545
Still an issue

[2018-05-06 16:54] theboy181 commented on #1520
Closed from unknown knowledge of correct output form FBE settings.

[2018-05-06 16:55] theboy181 commented on #1484
Issue still occurs.

[2018-05-06 16:59] #1473 closed

[2018-05-06 17:08] theboy181 commented on #515
Latest Depth Compare breaks fog in game. I was under the impression that this option was made for this game, or at least it was pointed at this game.

AA is now disabled when you use this feature, but the last AA setting is not restored when you disable the depth compare. This is a let down. :(

[2018-05-06 17:18] theboy181 commented on #487
Still an issue

[2018-05-06 17:24] #254 closed

[2018-05-06 17:26] #511 closed

[2018-05-06 17:26] theboy181 commented on #250
leaving open for other issues mentioned here.

[2018-05-06 17:27] #249 closed

[2018-05-06 17:28] theboy181 commented on #247
Closing since GLideN64's focus is on HLE emulation.

[2018-05-06 17:28] #247 closed

[2018-05-06 17:32] theboy181 commented on #241
unsure if I should keep my fingers crossed for this one. @gonetz is it possible to make textures react more like a VI FIlter where the filters are applied after the textures are aligned, and not to each texture before they are pieced together?

VI filtering would be a nice enhancement, and make things look really sharp. I would pay for a campaign that started to pull off more unique features like

[2018-05-06 17:46] theboy181 commented on #241
I must of tested with GLideN64's default settings. The background looks much better with defined settings in this game but when you are running at a higher resolution they loose their sharpness. :(

[2018-05-06 17:52] loganmc10 commented on #515
What GPU do you have?

[2018-05-06 18:14] theboy181 commented on #515
GTX 1080

[2018-05-06 18:19] #1520 closed

[2018-05-06 22:39] mudlord commented on #1731
I tried whomps fortress and running through a debugger, no tris there, maybe i missed a function to be breakpointed.?

[2018-05-07 00:20] Legiaoday opened #1807 "Perfect Dark high-res mode issues"
When the high resolution option (in-game) is checked some 2D elements will not render properly in the multiplayer mode (combat simulator).
The ammo and weapon pickups will not show any names, the main menu will not show anything aside from the window itself and the round outline of the radar will not be rendered.

![base profile screenshot 2018 05 06 - 19 02 03 09](https://user-images.githubuserco

[2018-05-07 04:27] gonetz commented on #1731
May be. I did not check whomps fortress with debugger. As I remember, SM64 has misaligned polygons in 3D objects. Rects are not used to build 3D models.
My screen shots of Paper Mario are from Glide64 build-in debugger. You may find all information abut these triangles: colors, vertices coordinates, rendering mode etc. You may enable debug log and find information about display list commands for t

[2018-05-07 04:55] gonetz commented on #241
No. Plugin does not know game designers intents. "Render 2D elements in N64 resolution" option designed to improve rendering of 2D elements. It is best I can do.

Of course, it is possible to disable texture filtering at all, and then try to smooth the picture with post-processing. I'm not sure, is it a good idea. You may try to take Glide64, enable force point-sampled, run Mario Golf in HD resolu

[2018-05-07 15:42] daninthemix opened #1808 "[Feature Request] Shaders"
Would love it if GlideN64 would allow us to select shaders to apply on top of the finished image - for example any of the many CRT shaders available, or anything in glslp format.

[2018-05-07 15:54] loganmc10 commented on #777
I just tested the latest master and it seems to work fine for me.

[2018-05-07 16:08] AlexN64gamer commented on #1804
I think you didnt understand well, last stable release of project64 not GlideN64, so no matter the version of the emulator, the glitch will still be there if it is the pulgin fault, thanks for the feedback

[2018-05-07 16:17] loganmc10 commented on #515
Do you have a screenshot? It looks normal to me

[2018-05-08 06:50] purplemarshmallow commented on #555
fixed

[2018-05-08 06:50] #555 closed

[2018-05-08 09:27] #1804 closed

[2018-05-08 12:16] gonetz commented on #1111
Code checked by PVS Studio. Closed.

[2018-05-08 12:16] #1111 closed

[2018-05-08 12:17] gonetz commented on #1808
Duplication of #1697

[2018-05-08 13:49] thecoreyburton commented on #241
Regarding filtering at "Render 2D elements in N64 resolution" at higher resolutions (in relation to image sharpness), there was some related discussion on #1788 that may be related.

[2018-05-08 15:02] rez- commented on #1644
xBRZ 1.6 [2018-02-27]
---------------------
Added bilinear scaling
Updated license info
Option to skip color buffer creation

[2018-05-09 21:11] AlexN64gamer opened #1812 "Light blue color on pokemon stadium"
GlideN64 3.0 and Project64 2.3, when entering a battle it shows pokemon rendered on portraits, some pokemon (Magneton, Sandshrew, Magnamite, Electabuzz, shellder, etc) shows a weird light blue color on their bodies, the light blue color, still can be seen on the actual battle.

![bluemagneton](https://user-images.githubusercontent.com/38527600/39840006-e6240a3c-53d5-11e8-8f59-267143c844f8.png)
![b

[2018-05-09 21:49] theboy181 commented on #1812
Do you have pixel lighting turned on by chance? Delete the shader face and turn that off and rest again.

[2018-05-09 21:57] AlexN64gamer commented on #1812
@theboy181 per pixel lighting is off, sorry for the silly question but, what do you mean by shader face?

[2018-05-10 09:06] tony971 commented on #1812
You're still testing on GLideN64 3.0. Why?

[2018-05-10 13:53] olivieryuyu commented on #640
it is a clamping issue

clamping between 0x0000 and 0x7F00 (F3DEX 0x00FF).

7F**00** leads to have value set to 0x00 above a certain threshold and not anymore FF.

[2018-05-10 14:34] olivieryuyu commented on #640
F3DEX and F3DEX2 does not clamp alpha in the same way.

It seems than F3DEX3 set the maximum value to 0x7F00.

Alpha becomes 0x00 in this case and not 0xFF (0x7F**00**)

[2018-05-10 14:56] loganmc10 commented on #1812
Looks normal on my PC:

![pokemon_stadium-000](https://user-images.githubusercontent.com/848146/39876319-13fdb37c-5430-11e8-93bf-0620a83ae923.png)

[2018-05-10 15:02] loganmc10 commented on #1812
I checked Public Release 3.0 as well, no issue there either

[2018-05-10 16:12] AlexN64gamer commented on #1812
My specs are: Intel Core I3 1.7ghz dual core, Intel HD Graphics 4400 gpu, 4GB ram, Windows 8.1 pro, im using public release 3.0 of GlideN64, does the integrated gpu have something to do with that weird blue glitched color?

[2018-05-10 16:17] loganmc10 commented on #1812
I tested on my laptop which is a Windows 10 laptop with Intel HD Graphics 620, so it's a newer setup but similar situation. You could try updating your GFX drivers if you haven't already.

[2018-05-12 02:12] jaburgeson opened #1813 "Corrupt graphics in Beetle Adventure Racing"
The VW Logo on all the Vehicles is corrupted and is not displaying correctly.

Verify problem by going to vehicle selection screen

Using mupen64, latest build from m64p.github.io

<img width="1440" alt="screen shot 2018-05-11 at 10 11 09 pm" src="https://user-images.githubusercontent.com/4240091/39952614-695070b0-5568-11e8-93df-b07347a8aea8.png">

[2018-05-12 10:08] gonetz commented on #1813
I can't reproduce it on my Redeon.
@jaburgeson, have you tried older versions? Public release 3.0 for example.
If older versions work for you it is regression. Otherwise it is graphics card driver bug.

[2018-05-12 11:32] jaburgeson commented on #1813
My apologies, I believe this was an issue with my RSP configuration.  All is resolved now.

[2018-05-12 11:32] #1813 closed

[2018-05-12 13:43] fallaha56 commented on #1731
is fixed-point math OpenGL3 or 4?

[2018-05-12 16:36] schubertguilherme commented on #1574
Resident Evil 2 playable without error until the end with Claire and Leon, congratulations Gonetz.

[2018-05-14 04:39] theboy181 commented on #1574
older version of GLideN64
![image](https://user-images.githubusercontent.com/9299743/39978537-fa3865cc-56f5-11e8-92a4-262ae7e8d2fd.png)

Current
![image](https://user-images.githubusercontent.com/9299743/39978555-0d39785a-56f6-11e8-83dd-f664d571a44c.png)

Regression?

[2018-05-14 09:27] gonetz commented on #1574
@theboy181 looks like regression. Please open new issue.

[2018-05-14 09:28] gonetz commented on #1574
@schubertguilherme good to know, thanks!

[2018-05-14 15:06] loganmc10 opened #1814 "Missing text in Donald Duck - Going Quackers"
![39978555-0d39785a-56f6-11e8-83dd-f664d571a44c](https://user-images.githubusercontent.com/848146/40005761-09e3d9d8-5756-11e8-9c5a-6463c10a29cb.png)

This only happens when you have "Enabled Native Res Texrects" on.

This is the commit that broke it: 5ccc40423feaa38e4c586aebeefd2bdd4c72cf66

[2018-05-15 02:25] theboy181 opened #1815 "Regression with TWINE"
![image](https://user-images.githubusercontent.com/9299743/40033277-828b42bc-57ac-11e8-9cee-57a2e7944d83.png)

Default settings with AA set and new WIP#3 release

[2018-05-15 02:27] theboy181 opened #1816 "Regression Donald Duck - Goin Quackers"
Game letters will partially disappear if
![image](https://user-images.githubusercontent.com/9299743/40033320-c2a48750-57ac-11e8-97af-0f6009f6879d.png)
Is set to on.

[2018-05-15 02:31] loganmc10 commented on #1815
I don't think that's a regression. That's how N64 Depth Compare looks with AA enabled